---
layout: view-project
page_class: page-projects page-view-project
title: Servicelovers
responsibility: App design
demo_url_text: servicelovers.com
demo_url: http://servicelovers.com
technology:
  - Sketch
  - Affinity Designer
  - Invision
---


<div class="section section--servicelovers">
    <div class="section-content compact text-white">

        <div class="row">
            <div class="col-sm-6">
                <h3 class="section-heading section-heading--left text-purple">
                    Improving service
                </h3>

                <p class="lead">
                    Servicelover's vision is to change the face of customer service, by letting customers focus on giving positive feedback on their service experiences.
                </p>

                <div class="narrow">
                    <p>They are building a community of people who appreciate and acknowlege good service experiences - and service providers who make an effort to provide the best possible experience to their customers.</p>

                    <p>Servicelovers operate with concepts like Servicelovers and Serviceheroes. A Servicelovers represents a user who loves to find, rate and encourage good service. A Servicehero is an employee focused on delivering excellent service.</p>

                    <p>I was brought in to design a new digital identity to the existing proof-of-concept app and continue the following UX and UI work.</p>

                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-1 col-md-4 tilt--sm">
                {% include mobile-device.html image="/img/projects/servicelovers/01.jpg" variant="white" %}
            </div>
        </div>
    </div>
</div>


<div class="section section-light-gray">
    <div class="section-content">
        <h2 class="section-heading">
            App design
        </h2>

        <div class="row">
            <div class="col-sm-6 col-md-4">
                {% include mobile-device.html image="/img/projects/servicelovers/02.jpg" variant="white" %}
            </div>
            <div class="col-sm-6 col-md-4">
                {% include mobile-device.html image="/img/projects/servicelovers/03.png" variant="white" %}
            </div>
            <div class="col-sm-6 col-md-4">
                {% include mobile-device.html image="/img/projects/servicelovers/09.png" variant="white" %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4">
                {% include mobile-device.html image="/img/projects/servicelovers/04.jpg" variant="white" %}
            </div>
            <div class="col-sm-6 col-md-4">
                {% include mobile-device.html image="/img/projects/servicelovers/06.jpg" variant="white" %}
            </div>
            <div class="col-sm-6 col-md-4">
                {% include mobile-device.html image="/img/projects/servicelovers/07.jpg" variant="white" %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                {% include mobile-device.html image="/img/projects/servicelovers/08.jpg" variant="white" %}
            </div>
            <div class="col-sm-6 col-md-4">
                {% include mobile-device.html image="/img/projects/servicelovers/10.png" variant="white" %}
            </div>
        </div>

    </div>
</section>
