---
layout: view-project
page_class: page-projects page-view-project
title: Servicelovers
responsibility: App design
demo_url_text: servicelovers.com
demo_url: http://servicelovers.com
technology:
  - Sketch
  - Affinity Designer
  - Invision
---


<div class="section section--servicelovers">
    <div class="section-content compact text-white">

        <div class="row">
            <div class="col-sm-6">
                <h3 class="section-heading section-heading--left text-purple">
                    Project details
                </h3>

                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit minima consequatur reiciendis, dolorum voluptates ex distinctio veritatis libero quasi! Quasi a quaerat excepturi facere, iusto rerum asperiores obcaecati. Pariatur, eius.
                </p>

                <div class="narrow">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi maxime officiis obcaecati eligendi. Atque laboriosam minus, facere, hic nostrum ullam culpa deserunt error consequuntur dolores voluptas, tempora non autem dolore!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi maxime officiis obcaecati eligendi. Atque laboriosam minus, facere, hic nostrum ullam culpa deserunt error consequuntur dolores voluptas, tempora non autem dolore!</p>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-1 col-md-4 tilt--sm">
                {% include mobile-device.html image="/img/projects/servicelovers/01.jpg" variant="white" %}
            </div>
        </div>
    </div>
</div>


<div class="section section-light-gray">
    <div class="section-content">
        <h2 class="section-heading">
            App design
        </h2>

        <div class="row">
            <div class="col-sm-6 col-md-4">
                {% include mobile-device.html image="/img/projects/servicelovers/02.jpg" variant="white" %}
            </div>
            <div class="col-sm-6 col-md-4">
                {% include mobile-device.html image="/img/projects/servicelovers/03.jpg" variant="white" %}
            </div>
            <div class="col-sm-6 col-md-4">
                {% include mobile-device.html image="/img/projects/servicelovers/04.jpg" variant="white" %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4">
                {% include mobile-device.html image="/img/projects/servicelovers/06.jpg" variant="white" %}
            </div>
            <div class="col-sm-6 col-md-4">
                {% include mobile-device.html image="/img/projects/servicelovers/07.jpg" variant="white" %}
            </div>
            <div class="col-sm-6 col-md-4">
                {% include mobile-device.html image="/img/projects/servicelovers/08.jpg" variant="white" %}
            </div>
        </div>

    </div>
</section>
