---
layout: default
page_class: page-home
---

{% include home-intro.html %}

<!-- Client list -->
<div class="section section-full section-subtle" data-parallax>
    <div class="section-content">
        {% include clients.html %}
    </div>
</div>


<!-- Recent projects -->

<div class="latest-projects section section-full">
    <div class="section-content">
        <h2 id="recent-projects" class="section-heading text-uppercase mb-5 anim">Recent work</h2>

        <div class="row mb-md-5">
            <div class="col-lg-5 wow fadeNifty" data-wow-offset="200">
                <figure>
                    <picture>
                        <source media="(min-width:1000px)" srcset="{{site.baseurl}}/img/projects/zublime/zublime-preview@2x.png" />
                        <img alt="{{ project.title }}" src="{{site.baseurl}}/img/projects/zublime/zublime-preview.png"
                            loading="lazy" decoding="async" />
                    </picture>
                    <div class="mb-3">
                        <h3 class="h5 mt-4 mb-0 text-uppercase">Zublime AI</h3>
                        <p class="text-normal text-muted">2023-2024</p>
                    </div>
                </figure>
            </div>

            <div class="col-lg-7 wow fadeNifty" data-wow-offset="250">
                <figure>
                    <picture>
                        <source media="(min-width:1000px)" srcset="{{site.baseurl}}/img/projects/coloplast/coloplast-preview@2x.png" />
                        <img alt="{{ project.title }}" src="{{site.baseurl}}/img/projects/coloplast/coloplast-preview.png" loading="lazy" decoding="async" />
                    </picture>
                    <div class="mb-3">
                        <h3 class="h5 mt-4 mb-0 text-uppercase">Coloplast Design System</h3>
                        <p class="text-normal text-muted">2022-2023</p>
                    </div>
                </figure>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-offset="200">
                <figure>
                    <picture>
                        <source media="(min-width:1000px)" srcset="{{site.baseurl}}/img/projects/audi-leasing/audi-leasing-preview@2x.png" />
                        <img alt="{{ project.title }}" src="{{site.baseurl}}/img/projects/audi-leasing/audi-leasing-preview.png" loading="lazy" decoding="async" />
                    </picture>
                    <div>
                        <h3 class="h5 mt-4 mb-0 text-uppercase">Semler</h3>
                        <p class="text-normal text-muted">2020-2021</p>
                    </div>
                </figure>
            </div>

            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-offset="200" data-wow-delay="0.2s">
                <figure>
                    <picture>
                        <source media="(min-width:1000px)" srcset="{{site.baseurl}}/img/projects/ui-kit/ui-kit-preview@2x.png" />
                        <img alt="{{ project.title }}" src="{{site.baseurl}}/img/projects/ui-kit/ui-kit-preview.png" loading="lazy" decoding="async" />
                    </picture>
                    <div>
                        <h3 class="h5 mt-4 mb-0 text-uppercase">UI Kit</h3>
                        <p class="text-normal text-muted">2023-2024</p>
                    </div>
                </figure>
            </div>

            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-offset="200" data-wow-delay="0.4s">
                <figure>
                    <picture>
                        <source media="(min-width:1000px)" srcset="{{site.baseurl}}/img/projects/windward/windward-preview@2x.jpg" />
                        <img alt="{{ project.title }}" src="{{site.baseurl}}/img/projects/windward/windward-preview.jpg" loading="lazy" decoding="async" />
                    </picture>
                    <div>
                        <h3 class="h5 mt-4 mb-0 text-uppercase">Windward Mayreau</h3>
                        <p class="text-normal text-muted">2021-2022</p>
                    </div>
                </figure>
            </div>
        </div>
        <div class="text-center wow fadeInUp" data-wow-offset="100">
            <a href="{{site.baseurl}}/work/" class="btn btn-cta">More projects</a>
        </div>
    </div>
</div>


<!-- Work history  -->

<div class="section section-full">
    <div class="section-content">

        <h2 class="section-heading text-uppercase wow fadeInUp" data-wow-offset="100">Work history</h2>

        <div id="workHistory" class="work-history list-group-flush wow fadeInUp" data-wow-offset="200">
            <a class="list-group-item" data-bs-toggle="collapse" href="#zublimeWorkHistory" data-bs-parent="#workHistory" role="button" aria-expanded="false" aria-controls="zublimeWorkHistory">
                <div class="work-history_company">Zublime</div> 
                <div class="work-history_title">Design Lead</div>
                <div class="work-history_year">2023 - 2024</div>

                <div id="zublimeWorkHistory" class="work-history_details collapse">
                    <div>
                        <h5 class="mb-3">Responsibilities</h5>
                        <ul class="nifty-list">
                            <li>Update and improve UX/UI for existing partner platform.</li>
                            <li>Streamline existing design system and systematize color palettes, spacing, typography and components.</li>
                            <li>Introduce design token system in Token Studio to sync design decisions between Figma and front-end apps.</li>
                            <li>Extensive UX work for new AI sales assistant including navigation principles</li>
                            <li>Rebrand, design and build new company website</li>
                        </ul>
                    </div>
                </div>
            </a>

            <a class="list-group-item" data-bs-toggle="collapse" href="#coloplastWorkHistory" data-bs-parent="#workHistory" role="button" aria-expanded="false" aria-controls="coloplastWorkHistory">
                <div class="work-history_company contractor">Coloplast</div> 
                <div class="work-history_title">System Designer</div>
                <div class="work-history_year">2022 - 2023</div>

                <div id="coloplastWorkHistory" class="collapse work-history_details">
                    <div>
                        <h5 class="mb-3">Responsibilities</h5>
                        <ul class="nifty-list">
                            <li>Partake in defining the initial vision and setting direction for the project</li>
                            <li>Analyze state of existing design, and identify UI components and elements across all Coloplast's websites</li>
                            <li>set up design system architecture in Figma and building all UI components</li>
                            <li>define and set up principles and systems for color theming, typography, spacing, elevation etc.</li>
                            <li>define and set up the design token system in Token Studio to sync design decisions with the front-end</li>
                            <li>document components usage, technical specification and general design system onboarding</li>
                            <li>gather feedback from designers and stakeholders</li>
                        </ul>
                    </div>
                </div>
            </a>

            <a class="list-group-item" data-bs-toggle="collapse" href="#semlerWorkHistory" data-bs-parent="#workHistory" role="button" aria-expanded="false" aria-controls="semlerWorkHistory">
                <div class="work-history_company contractor">Semler</div> 
                <div class="work-history_title">Senior Product Designer</div>
                <div class="work-history_year">2020 - 2022</div>

                <div id="semlerWorkHistory" class="collapse work-history_details">
                    <div>
                        <h5 class="mb-3">Responsibilities</h5>
                        <ul class="nifty-list">
                            <li>Introduce Figma company wide and implement a design system- and component-based approach into the existing design/development cycle.</li>
                            <li>Build foundational UI kits for 6 <abbr data-bs-toggle="tooltip" data-bs-title="Volkswagen Group">VAG</abbr> brands and Semler to ensure design consistency with existing projects and the brands corporate identities.</li>
                            <li>All new UX/UI design projects across all brands.</li>
                        </ul>
                        <h5 class="mt-4 mb-3">Select projects</h5>
                        <ul class="nifty-list">
                            <li>ŠKODA used cars</li>
                            <li>Private leasing sites for Audi, Volkswagen, SEAT, ŠKODA</li>
                            <li>Service- & repair plans for Audi, Volkswagen, SEAT, ŠKODA</li>
                            <li>Volkswagen GO site - re-designing new long-term rental pages</li>
                            ŠKODA partner map V2 - rethinking the mobile experience and re-implementing the <li>front-end</li>
                            <li>Volkswagen accessories - redesigning existing accessory page</li>
                            <li>ŠKODA finance calculator</li>
                            <li>SEAT Hola - long term rental</li>
                            <li>ŠKODA All Inclusive site</li>
                            <li>Porsche Taycan prebooking campaign</li>
                            <li>ŠKODA accessories - redesigning existing accessory page</li>
                        </ul>
                    </div>
                </div>
            </a>

            <a class="list-group-item" data-bs-toggle="collapse" href="#ccWorkHistory" data-bs-parent="#workHistory" role="button" aria-expanded="false" aria-controls="ccWorkHistory">
                <div class="work-history_company">Connected Cars</div> 
                <div class="work-history_title">Senior Product Designer</div>
                <div class="work-history_year">2017 - 2020</div>

                <div id="ccWorkHistory" class="collapse work-history_details">
                    <div>                                
                        <h5 class="mb-3">Responsibilities</h5>
                        <ul class="nifty-list">
                            <li>Take ownership of all web related products and rethink an existing workshop SaaS product, to a production ready product.</li>
                            <li>Plan and design Connected Cars Workshop and Fleet products while working closely with POs, FE and BE developers, data scientists and management.</li>
                            <li>Identify existing end-user workflow challenges through interviews and user tests, and iterate over new UI solutions with the end-users.</li>
                            <li>Define brand identity for Connected Cars.</li>
                            <li>Technical specs for front-end developers hand-over, to ensure consistency between the prototypes and final product.</li>
                            <li>Basic QA including bug-reporting for features before and after going live.</li>
                        </ul>
                    </div>
                </div>
            </a>

            <a class="list-group-item" data-bs-toggle="collapse" href="#printixWorkHistory" data-bs-parent="#workHistory" role="button" aria-expanded="false" aria-controls="printixWorkHistory">
                <div class="work-history_company">Printix</div> 
                <div class="work-history_title">Design Lead</div>
                <div class="work-history_year">2016 - 2017</div>

                <div id="printixWorkHistory" class="collapse work-history_details">
                    <div>
                        <p>In an industry where change and innovation is scarce, Danish start-up Printix was on a mission to replace traditional
                        business print infrastructure with a cloud-based SaaS solution.</p>
                        
                        <h5 class="mt-4 mb-3">Responsibilities</h5>
                        <ul class="nifty-list">
                            <li>Take lead on design direction and user experience for Printix' 3 SaaS products.</li>
                            <li>Introduce a customer centric culture and design process.</li>
                            <li>Establish a UI kit of components, colors, typography etc. for improved reuse and handover.</li>
                            <li>Hands-on design, working closely with POs, frontend and backend teams.</li>
                        </ul>

                        <p><strong>Printix was acquired by Kofax for double-digit million figure (USD) in 2021</strong>.</p>
                    </div>
                </div>
            </a>

            <a class="list-group-item" data-bs-toggle="collapse" href="#serviceloversWorkHistory" data-bs-parent="#workHistory" role="button" aria-expanded="false" aria-controls="serviceloversWorkHistory">
                <div class="work-history_company contractor">Servicelovers</div> 
                <div class="work-history_title">UX/UI Designer</div>
                <div class="work-history_year">2015 - 2016</div>

                <div id="serviceloversWorkHistory" class="collapse work-history_details">
                    <div>
                        <p>Building a community of service connoisseurs, by enabling customers to focus on giving positive feedback on their service experiences.</p>

                        <h5 class="mt-4 mb-3">Responsibilities</h5>
                        <ul class="nifty-list">
                            <li>Define a digital identity and set the design direction for Servicelovers products.</li>
                            <li>Take charge on all things design.</li>
                            <li>Design new mobile app for service loving customers to rate their experiences.</li>
                        </ul>
                    </div>
                </div>
            </a>

            <a class="list-group-item" data-bs-toggle="collapse" href="#vivinoWorkHistory" data-bs-parent="#workHistory" role="button" aria-expanded="false" aria-controls="vivinoWorkHistory">
                <div class="work-history_company contractor">Vivino</div> 
                <div class="work-history_title">Frontend developer</div>
                <div class="work-history_year">2014 - 2014</div>

                <div id="vivinoWorkHistory" class="collapse work-history_details">
                    <div>
                        <p>I had the pleasure of working for Vivino, a danish start-up company situated in Copenhagen and San Francisco,
                        specializing in delivering wine ratings, reviews and prices to the biggest wine community in the world, with 65 mio.+
                        users and 15 mio.+ different wines.</p>

                        <p>My task was to help the Copenhagen based development team build a new front-end for Vivino.com. Back then their Android
                        and iOS apps were generating a lot of traffic and new users (around 3 mio.), but their website was basically non-existing and was needed for non-mobile users and use-cases.</p>

                        <h5 class="mt-4">Responsibilities</h5>
                        <ul class="nifty-list">
                            <li>Implement frontend templates with the new design</li>
                            <li>Working closely with the in-house designer, to guide the design process towards reusability and speed optimization.</li>
                            <li>Identify reusable elements for components, streamlining typography and planning responsive behavior.</li>
                            <li>Ensuring quality of final implementation.</li>
                        </ul>
                    </div>
                </div>
            </a>
            
            <div class="mt-4 ml-3 text-muted contractor">Contractor role</div>
        </div>
    </div>
</div>



<!-- Random work -->


{% include contact.html %}

    



