---
layout: default
title: Vivino
client: Vivino
---



<div class="section">
    <div class="section-content">
        <p class="project-brow heavy">Case</p>
        <h1 class="hero-heading text-center">{{ page.title }}</h1>

        <ul class="project-details row">
            <li class="project-detail col-sm-3 col-sm-offset-3">
                <span>Website</span>
                <a href="http://vivino.com">Vivino.com</a>
            </li>
            <li class="project-detail col-sm-3">
                <span>Responsibility</span>
                Build templates
            </li>
        </ul>


        <p class="lead text-center">I had the privilege of working for Vivino, a danish start-up company situated in Copenhagen and San Francisco, specialised in delivering wine ratings, reviews and prices to the biggest wine community in the world, currently counting more than 11 mio. users.</p>
        <!-- <p class="lead text-center">During the first part of 2014 I was lucky enough to help Vivino implement their brand new website for <a href="http://vivino.com">Vivino.com</a>. I was in charge of writing the front-end templates from scratch, working closely with the design team and programmers, tying the front-end and back-end functionality together.</p> -->
        <hr class="separator-red" />



        <figure class="project-image" class="row">
            <div class="col-sm-4">
                <figcaption>Winery page</figcaption>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima numquam illo saepe, quas sed! Aspernatur autem modi veritatis fugiat aliquid inventore voluptatibus et doloribus numquam nostrum ipsam nam, temporibus tempore!</p>
            </div>
            <div class="col-sm-8">
                {% include svg/browser-top.html %}
                <img src="{{ site.baseurl }}/img/projects/vivino/winery-full.jpg" alt="" />
            </div>
        </figure>

    </div>
</section>

<!-- Winery section -->
<section class="section">
    <div class="container">
        <figure class="project-image row">
            <div class="col-sm-8">
                <div class="browser">
                    {% include svg/browser-top.html %}
                    <img src="{{ site.baseurl }}/img/projects/vivino/grapes-full.jpg" alt="" />
                </div>
            </div>
            <div class="col-sm-4">
                <figcaption class="project-image-caption">Winery page</figcaption>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima numquam illo saepe, quas sed! Aspernatur autem modi veritatis fugiat aliquid inventore voluptatibus et doloribus numquam nostrum ipsam nam, temporibus tempore!</p>
            </div>
        </figure>

        <div class="row hidden">
            <div class="col-sm-4">
                <img class="project-image" src="{{ site.baseurl }}/img/projects/vivino/detail-shot2.png" alt="" />
            </div>
            <div class="col-sm-4">
                <img class="project-image" src="{{ site.baseurl }}/img/projects/vivino/detail-shot1.png" alt="" />
            </div>
            <div class="col-sm-4">
                <img class="project-image" src="{{ site.baseurl }}/img/projects/vivino/detail-shot3.jpg" alt="" />
            </div>
        </div>
    </div>
</section>
