<ul class="client-icon-list list-unstyled" data-scroll-animation="fade-in">
    <li><a href="https://coloplast.com"><img src="/img/clients/Coloplast.svg" alt="Coloplast" /></a></li>
    <li><a href="https://audi.dk"><img src="/img/clients/Audi.svg" alt="Audi" /></a></li>
    <li><a href="https://vivino.com"><img src="/img/clients/Vivino.svg" alt="Vivino" /></a></li>
    <li><a href="https://volkswagen.dk"><img src="/img/clients/Volkswagen.svg" alt="Audi" /></a></li>
    <li><a href="https://semler.dk"><img src="/img/clients/Semler.svg" alt="Semler" /></a></li>
    <li><a href="https://porsche.dk"><img src="/img/clients/Porsche.svg" alt="Porsche" /></a></li>
    <li><a href="https://cupraofficial.dk"><img src="/img/clients/Cupra.svg" alt="Cupra" /></a></li>
    <li><a href="https://cbs.dk"><img src="/img/clients/CBS.svg" alt="Copenhagen Business School" /></a></li>
    <li><a href="https://zublime.com"><img src="/img/clients/Zublime.svg" alt="Zublime" /></a></li>
    <li><a href="https://printix.net"><img src="/img/clients/Printix.svg" alt="Printix" /></a></li>
    <li><a href="https://skoda.dk"><img src="/img/clients/Skoda.svg" alt="Skoda" /></a></li>
    <li><a href="https://servicelovers.com"><img src="/img/clients/Servicelovers.svg" alt="Servicelovers" /></a></li>
    <li><a href="https://sinonjs.org/"><img src="/img/clients/SinonJS.svg" alt="Sinon JS" /></a></li>
    <li><a href="https://atea.dk"><img src="/img/clients/Atea.svg" alt="Atea" /></a></li>
    <li><a href="https://mindpool.com/"><img src="/img/clients/Mindpool.svg" alt="Mindpool" /></a></li>
</ul>


        <!-- <h3 class="group-heading">Clients</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="https://zublime.com">Zublime</a> - AI-first, all-in-one sales platform</li>
                    <li class="list-group-item"><a href="https://coloplast.com">Coloplast</a> - Medical devices and services related to ostomy, urology, continence, and wound care</li>
                    <li class="list-group-item"><a href="https://connectedcars.io">Connected Cars</a> - Connecting people to their vehicles</li>
                    <li class="list-group-item"><a href="https://www.mindpool.com/">Mindpool - the new way to listen, understand, and act on employee inputs about your business</a></li>
                    <li class="list-group-item"><a href="https://audi.dk">Audi Denmark</a></li>
                    <li class="list-group-item"><a href="https://volkswagen.dk">Volkswagen Denmark</a></li>
                    <li class="list-group-item"><a href="https://skoda.dk">ŠKODA Denmark</a></li>
                    <li class="list-group-item"><a href="https://seat.dk">SEAT Denmark</a></li>
                    <li class="list-group-item"><a href="https://cupraofficial.dk/">Cupra Denmark</a></li>
                    <li class="list-group-item"><a href="https://semler.dk">Semler</a> - Importer of Volkswagen AG cars in Denmark</li>
                    <li class="list-group-item"><a href="https://www.vivino.com">Vivino</a> - Worlds largest online wine community and marketplace</li>
                    <li class="list-group-item"><a href="https://www.servicelovers.com">Servicelovers</a> - Customer service connoisseurs</li>
                    <li class="list-group-item"><a href="https://www.printix.net">Printix</a> - Cloud-based print management software</li>
                    <li class="list-group-item"><a href="https://www.atea.dk">ATEA</a> - IT infrastructure specialists</li>
                    <li class="list-group-item"><a href="https://vertic.com">Vertic</a> - Digital agency</li>
                    <li class="list-group-item"><a href="https://www.cbs.dk">Copenhagen Business School</a></li>
                    <li class="list-group-item"><a href="https://www.beautifulpeople.com">Beautiful People</a> - International dating portal</li>
                </ul> -->