<ul class="client-icon-list list-unstyled wow fadeInUp" data-wow-offset="50">
    <li><img src="/img/clients/Coloplast.svg" alt="Coloplast"  /></li>
    <li><img src="/img/clients/Audi.svg" alt="Audi" /></li>
    <li><img src="/img/clients/Vivino.svg" alt="Vivino" /></li>
    <li><img src="/img/clients/Volkswagen.svg" alt="Audi" /></li>
    <li><img src="/img/clients/Semler.svg" alt="Semler" /></li>
    <li><img src="/img/clients/Porsche.svg" alt="Porsche" /></li>
    <li><img src="/img/clients/Cupra.svg" alt="Cupra" /></li>
    <li><img src="/img/clients/CBS.svg" alt="Copenhagen Business School" /></li>
    <li><img src="/img/clients/Zublime.svg" alt="Zublime" /></li>
    <li><img src="/img/clients/Printix.svg" alt="Printix" /></li>
    <li><img src="/img/clients/Skoda.svg" alt="Skoda" /></li>
    <li><img src="/img/clients/Servicelovers.svg" alt="Servicelovers" /></li>
    <li><img src="/img/clients/SinonJS.svg" alt="Sinon JS" /></li>
    <li><img src="/img/clients/Atea.svg" alt="Atea" /></li>
    <li><img src="/img/clients/Mindpool.svg" alt="Mindpool" /></li>
</ul>