{% assign default-message = "Do you have a project or an idea you would like to share?" %}
{% comment %}
<section class="section section-white">
    <div class="section-content text-center">
        <p class="lead text-center text-muted">{% if include.message %}{{ include.message }}{% else %}{{ default-message }}{% endif %}</p>
        <a href="/contact/" class="btn btn-cta btn-fancy switch-page" data-hover-text="Sweet!">
        	<span>Let's talk</span>
        </a>
    </div>
</section>
{% endcomment %}

<section class="section section-narrow">
	<div class="section-content">
		<h1 class="hero-heading">Get in touch</h1>
		<p class="lead">Whether you have ideas for a project or just feedback, feel free to <a href="mailto:daniel.aakjaer@gmail.com">send me an e-mail</a>.</p>
		{% include social-links.html %}
	</div>
</div>
