<section class="section section-white">
    <div class="section-content text-center">

        <h2 class="section-heading text-center text-red">Contact</h2>
        <p class="lead text-center">Do you have a project or an idea you would like to share?</p>

        <div class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
            <button type="button">Let's talk!</button>
            <div class="morph-content">
                <div>
                    <div class="content-style-form content-style-form-1">
                        <span class="close" aria-label="Close"><span aria-hidden="true">×</span></span>
                        <h2>Get in touch</h2>
                        <form action="//flipmail.co/api/L1JKS8EnfKlumYb8uwxZ" method="post">
                            <input class="hide" type="text" name="_honey" value="" />
                            <p><label>Name</label><input type="text" name="name" /></p>
                            <p><label>Message</label><textarea name="message" rows="4"></textarea></p>
                            <p><button class="btn" type="submit">Send</button></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
