<section class="section">
    <div class="section-content">
        <h2 class="section-heading text-center animate fadein-down">
            Work in progress
        </h2>
        <hr class="separator-blue animate fadein-up" />
        <p class="lead text-center animate fadein">I am currently working on multiple projects. <br/> Here is a peak at a couple of them.</p>

        <div class="project-preview">
            <div class="col-sm-offset-1 col-sm-5 animate fadein-left">
                <img src="{{ site.baseurl }}/img/projects/sinon-lg.png" alt="" />
            </div>
            <div class="col-sm-offset-1 col-sm-5 animate fadein-right">
                <h3>Sinon JS identity</h3>
                <p class="text-yellow">In progress</p>
                <p>Character/logo design for SinonJS, a standalone unit testing library for JS.</p>
            </div>
        </div>
        <div class="project-preview">
            <div class="col-sm-5 animate fadein-left" data-delay="200">
                <h3>Online identity for law firm</h3>
                <p class="text-yellow">In progress</p>
            </div>
            <div class="col-sm-offset-1 col-sm-6 animate fadein-right" data-delay="200">
                <img src="{{ site.baseurl }}/img/projects/retsadvokaterne-lg.png" alt="" />
            </div>
        </div>
    </div>
</section>
