<section class="section section-dark-gray">
    <div class="section-content">
        <h2 class="section-heading text-white text-center wow fadeInUp">
            Lab projects
        </h2>
        <hr class="separator-green wow fadeInUp" />
        <p class="lead text-center wow fadeInUp">I am usually tinkering around with a <br/>couple of side projects or ideas.</p>

        <div class="latest-projects">
            <div class="project wow fadeInUp">
                <div class="col-sm-offset-1 col-sm-4">
                    <img src="{{ site.baseurl }}/img/projects/switch-checkbox.png" alt="" />
                </div>
                <div class="col-sm-offset-2 col-sm-4 wow fadeInUp">
                    <h3 class="text-white">Switch/checkbox front-end component</h3>
                    <p class="text-light-gray">Sometimes you just need custom checkboxes for desktop and switch functionality for mobile visitors. Why? Because you can, that's why!</p>
                    <p>
                        <a class="btn btn-secondary mt50" href="http://aakjaer.github.io/switch">Demo</a>
                        <a class="btn btn-secondary mt50" href="https://github.com/aakjaer/switch">Github</a>
                    </p>
                </div>
            </div>

            <div class="project wow fadeInUp">
                <div class="col-sm-offset-1 col-sm-4 tilt--md">
                    {% include mobile-device.html image="/img/projects/wind-addict.png" variant="white" %}
                </div>
                <div class="col-sm-offset-2 col-sm-4 wow fadeInUp">
                    <h3 class="text-white">Wind addict</h3>
                    <p class="text-light-gray">A fun little screen-scraper wind project I made for myself, to avoid the headache of checking the wind speeds and directions on the local Danish weather service.</p>
                    <p class="text-light-gray"></p>
                    <p>
                        <a class="btn btn-secondary mt50" href="http://aakjaer.co/wind/">Visit website</a>
                    </p>
                </div>
            </div>

            <div class="project wow fadeInUp">
                <div class="col-sm-offset-1 col-sm-5">
                    <img src="{{ site.baseurl }}/img/projects/sinon-lg.png" alt="" />
                </div>
                <div class="col-sm-offset-1 col-sm-5 wow fadeInUp">
                    <h3 class="text-white">SinonJS identity</h3>
                    <p class="text-yellow">In progress</p>
                    <p class="text-light-gray">Character/logo design for <a href="http://sinonjs.org/">SinonJS</a>, a standalone unit testing library for JS.</p>
                    <p>
                        <a class="btn btn-secondary mt50" href="http://sinonjs.org/">Visit website</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
