
<section class="section section-gray">
    <div class="section-content">
        <h1 id="project-experience" class="section-heading text-center text-red animate fadein-up">Project history</h1>
        <p class="lead text-center text-gray animate fadein-up" data-delay="100">Over the years I have come across many types of projects and clients. The following list covers some of them.</p>

        {% include projects.html %}

        <div class="showcase">
            <h2 class="showcase-heading">CBS Students</h2>
            <p class="showcase-date text-muted"><time>2009/03 - 2009/04</time></p>
            <div class="body">
                <p>Designing a new website/web identity for CBS Students, and preparing the design for a Drupal implementation later on.</p>

                <p>Working closely together with the CBS student board of 8 people, using short release cycles to ensure client satisfaction and prevent any misunderstandings.</p>
            </div>
            <ul class="showcase-images">
                <li><a class="fancybox" href="/img/work/2010-06-22_cbs_students_1.jpg" rel="cbs-students"><img src="/img/work/2010-06-22_cbs_students_1.jpg" alt="" /></a></li>
                <li><a class="fancybox" href="/img/work/2010-06-22_cbs_students_2.jpg" rel="cbs-students"><img src="/img/work/2010-06-22_cbs_students_2.jpg" alt="" /></a></li>
            </ul>
            <h4>Responsibility</h4>
            <ul>
                <li>Identifying the requirements of the site (purpose, style and functionality), acting as an advisor on the structuring of the site</li>
                <li>Designing the UI based on the requirements and preparing the site elements for the Drupal implementation</li>
                <li>Collaborating with Drupal developer on implementing the final website</li>
            </ul>
            <h4>Technologies used</h4>
            <p>Adobe Photoshop, CMS, HTML, CSS, Drupal.</p>
            <h4>Role in project</h4>
            <p>UI Specialist, WebDesigner, HTML Developer.</p>
            <h4>Contact</h4>
            <p>Partner Henrik Thorn - IT Kartellet</p>
        </div>


        <div class="showcase">
            <h2 class="showcase-heading">Telefaction / Danske Bank</h2>
            <p class="showcase-date text-muted"><time>2009/01 - 2009/01</time></p>
            <div class="body">
                <p>The project involved redesigning/skinning Telefaction's telemarketing web application UI for Danske Bank, with a design resembling the Danske Bank CI. </p>
            </div>

            <ul class="showcase-images">
                <li>
                    <a class="fancybox" href="/img/work/2010-06-22_telefaction_1.jpg" rel="telefaction"><img src="/img/work/2010-06-22_telefaction_1.jpg" alt="" /></a>
                </li>
                <li>
                    <a class="fancybox" href="/img/work/2010-06-22_telefaction_2.jpg" rel="telefaction"><img src="/img/work/2010-06-22_telefaction_2.jpg" alt="" /></a>
                </li>
                <li>
                    <a class="fancybox" href="/img/work/2010-06-22_telefaction_3.jpg" rel="telefaction"><img src="/img/work/2010-06-22_telefaction_3.jpg" alt="" /></a>
                </li>
            </ul>

            <h4>Responsibility</h4>
            <ul>
                <li>Interpreting the Danske Bank CI</li>
                <li>Designing UI for 6 pages/subpages based on the ideas of Telefaction and the Danske Bank CI</li>
                <li>Advising on the template implementation into the existing Telefaction web app.</li>
            </ul>
            <h4>Technologies used</h4>
            <p>Adobe Photoshop</p>
            <h4>Role in project</h4>
            <p>Webdesigner, front-end specialist</p>
        </div>

        <div class="showcase">
            <h2 class="showcase-heading">Rojabo</h2>
            <p class="showcase-date text-muted"><time>2008/08 - 2008/12</time></p>
            <div class="body">
                <p>The purpose of the project was to develop an online web application for creating personalized training programs for ordinary and enthusiastic rowers, based on the Rojabo fitness models and methods used by the Danish national rowing team, including fitness progress tests and training plans based on goal setting.</p>

                <p>The development team consisted of 3 developers and 1 designer (DAS). Scrum and Agile methods were used during the project.
                </p>
            </div>
            <ul class="showcase-images">
                <li>
                    <a class="fancybox" href="/img/work/2010-06-22_rojabo_1.jpg" rel="rojabo"><img src="/img/work/2010-06-22_rojabo_1.jpg" alt="" /></a>
                </li>
                <li>
                    <a class="fancybox" href="/img/work/2010-06-22_rojabo_pricing.jpg" rel="rojabo"><img src="/img/work/2010-06-22_rojabo_pricing.jpg" alt="" /></a>
                </li>
                <li>
                    <a class="fancybox" href="/img/work/2010-06-22_rojabo_2.jpg" rel="rojabo"><img src="/img/work/2010-06-22_rojabo_2.jpg" alt="" /></a>
                </li>
            </ul>
            <h4>Responsibility</h4>
            <ul>
                <li>Concept developing/prototyping the outline of the initial application.</li>
                <li>Wire frames/mock-ups/sitemap.</li>
                <li>Designing UI for public pages.</li>
                <li>Designing UI for private part of the web app (20+ templates), together with the client using Agile methods.</li>
                <li>Implementing HTML templates for public and private part of the web app.</li>
                <li>Debugging.</li>
            </ul>
            <h4>Technologies used</h4>
            <p></p>
            <h4>Role in project</h4>
            <p>UI Specialist, Web Designer, HTML Developer, Web Usability Specialist, Information Architect.</p>
            <h4>Contact</h4>
            <p>Owner Jacob Øjvind, Rojabo.com</p>
        </div>

        <div class="showcase">
            <h2 class="showcase-heading">Progressive IT</h2>
            <p class="showcase-date text-muted"><time>2008/08 - 2008/09</time></p>
            <div class="body">
                <p>Creating a new website for Progressive IT's based on their new offline CI. </p>
            </div>

            <ul class="showcase-images">
                <li>
                    <a class="fancybox" href="/img/work/2010-06-15_progressive_1.jpg" rel="progressive"><img src="/img/work/2010-06-15_progressive_1.jpg" alt="" /></a>
                </li>
                <li>
                    <a class="fancybox" href="/img/work/2010-06-15_progressive_2.jpg" rel="progressive"><img src="/img/work/2010-06-15_progressive_2.jpg" alt="" /></a>
                </li>
                <li>
                    <a class="fancybox" href="/img/work/2010-06-15_progressive_3.jpg" rel="progressive"><img src="/img/work/2010-06-15_progressive_3.jpg" alt="" /></a>
                </li>
                <li>
                    <a class="fancybox" href="/img/work/2010-06-15_progressive_4.jpg" rel="progressive"><img src="/img/work/2010-06-15_progressive_4.jpg" alt="" /></a>
                </li>
                <li>
                    <a class="fancybox" href="/img/work/2010-06-15_progressive_5.jpg" rel="progressive"><img src="/img/work/2010-06-15_progressive_5.jpg" alt="" /></a>
                </li>
            </ul>

            <h4>Responsibility</h4>
            <ul>
                <li>Planning the sitemap and structure of the site.</li>
                <li>Designing the new UI based on interviews with Progressive IT and the offline CI.</li>
                <li>Creating the HTML templates with SEO and printing in mind.</li>
                <li>Icons design.</li>
                <li>Debugging.</li>
            </ul>
            <h4>Technologies used</h4>
            <p>Photoshop, HTML, CSS, JavaScript, Ruby on Rails, Textile.</p>
            <h4>Role in project</h4>
            <p>Webdesigner, HTML/CSS</p>
            <h4>Contact</h4>
            <p>Managing Partner Jonas Buhl Gregersen from Progressive IT</p>
        </div>

        <div class="showcase">
            <h2 class="showcase-heading">CBS Casecompetition</h2>
            <p class="showcase-date text-muted"><time>2008/07 - 2008/07</time></p>
            <div class="body">
                <p>Designing a new website for the annual CBS Casecompetiton event, and preparing the design files for the online template service "PSD2HTML".</p>
            </div>
            <ul class="showcase-images">
                <li>
                    <a class="fancybox" href="/img/work/2010-06-22_cbs_casecompetition_1.jpg" rel="cbs-cc"><img src="/img/work/2010-06-22_cbs_casecompetition_1.jpg" alt="" /></a>
                </li>
                <li>
                    <a class="fancybox" href="/img/work/2010-06-22_cbs_casecompetition_2.jpg" rel="cbs-cc"><img src="/img/work/2010-06-22_cbs_casecompetition_2.jpg" alt="" /></a>
                </li>
                <li>
                    <a class="fancybox" href="/img/work/2010-06-22_cbs_casecompetition_3.jpg" rel="cbs-cc"><img src="/img/work/2010-06-22_cbs_casecompetition_3.jpg" alt="" /></a>
                </li>
            </ul>
            <h4>Responsibility</h4>
            <ul>
                <li>Designing 4 templates, preparing the files for both Drupal content and PSD2HTML service.</li>
                <li>Reviewing the files from PDS2HTML collaborating with a Drupal developer on implementing the final website.</li>
            </ul>
            <h4>Technologies used</h4>
            <p>Photoshop, HTML, CSS, CMS, Drupal.</p>
            <h4>Role in project</h4>
            <p>UI Specialist, Web Designer, HTML Developer</p>
            <h4>Contact</h4>
            <p>Partner Troels Liebe Bentsen from IT Kartellet  </p>
        </div>



        <div class="showcase">
            <h2 class="showcase-heading">Beautiful People</h2>
            <p class="showcase-date text-muted"><time>2008/04 - 2008/04</time></p>
            <div class="body">
                <p>When BP was redesigning their website, I was hired to give advice on how to convert the new design to HTML based templates, including simplifying the design and doing the initial conversion, making example files and the CSS foundation. </p>
            </div>
            <h4>Responsibility</h4>
            <ul>
                <li>Recommending ways to optimize the design and how to implement certain problematic parts of the site.</li>
                <li>Simplifying the design, markup and CSS to prevent massive server load in the final website.</li>
                <li>Creating templates example markup for the developers based on design files from BP designer.</li>
            </ul>

            <h4>Technologies used</h4>
            <p>HTML, CSS, JavaScript, Adobe Photoshop</p>
            <h4>Role in project</h4>
            <p>Webdesigner, HTML Developer</p>
            <h4>Contact person</h4>
            <p>Lead developer at Beautiful People, Rasmus Gottschau</p>
        </div>

        <div class="showcase">
            <h2 class="showcase-heading">Volkswagen Denmark</h2>
            <p class="showcase-date text-muted"><time>2007/05 - 2007/07</time></p>
            <div class="body">
                <p>When "face-lifting" volkswagen.dk the old Flash based dealer-map was completely redesigned and implemented on top of Google Maps, ensuring cross device compatibility, and having the flexibility of standardized web formats and technologies. </p>
            </div>

            <ul class="showcase-images">
                <li>
                    <a class="fancybox" href="/img/work/2010-06-23_vw_dealermap_1.jpg" rel="vw-dealermap"><img src="/img/work/2010-06-23_vw_dealermap_1.jpg" alt="" /></a>
                </li>
                <li>
                    <a class="fancybox" href="/img/work/2010-06-23_vw_dealermap_2.jpg" rel="vw-dealermap"><img src="/img/work/2010-06-23_vw_dealermap_2.jpg" alt="" /></a>
                </li>
            </ul>
            <h4>Responsibility</h4>
            <ul>
                <li>Requirements specification.</li>
                <li>Planning a prototype based on the initial idea.</li>
                <li>Wire frames/mock-ups.</li>
                <li>Designing the UI.</li>
                <li>Converting the design to templates (HTML and CSS).</li>
                <li>Debugging.</li>
            </ul>

            <h4>Technologies used</h4>
            <p>Adobe Photoshop, HTML, JavaScript, CSS, JSON, Prototype JS, Google Maps API.</p>
            <h4>Role in project</h4>
            <p>Webdesigner, HTML Developer</p>
            <h4>Contact</h4>
            <p>Project Leader at Semler Services A/S, Internet Department, Kenneth Bang</p>
        </div>

        <div class="showcase">
            <h2 class="showcase-heading">Volkswagen Denmark</h2>
            <p class="showcase-date text-muted"><time>2007/03 - 2007/07</time></p>
            <div class="body">
                <p>Big project redesigning Volkswagen from ground up based on the new German corporate identity, and migrating from an old VB.ASP implementation to EPiServer CMS.</p>

                <p>The development team consisted of 2 back-end programmers and 1 web designer (DAS).</p>
            </div>

            <ul class="showcase-images">
                <li>
                    <a class="fancybox" href="/img/work/2010-06-23_vw_facelift_1.jpg" rel="vw-facelift"><img src="/img/work/2010-06-23_vw_facelift_1.jpg" alt="" /></a>
                </li>
                <li>
                    <a class="fancybox" href="/img/work/2010-06-23_vw_facelift_2.jpg" rel="vw-facelift"><img src="/img/work/2010-06-23_vw_facelift_2.jpg" alt="" /></a>
                </li>
            </ul>

            <h4>Responsibility</h4>
            <ul>
                <li>Designing 40+ Photoshop designs based on the VW CI working with VW marketing for gradual corrections and approval.</li>
                <li>Converting designs to HTML and CSS based templates, and preparing dynamic sections for the developers.</li>
                <li>Optimizing the markup for SEO and printing.</li>
                <li>Implementing a XML based Flash loader to handle campaigns with streaming/animated content.</li>
                <li>Debugging - checking and testing the markup created by the developers.</li>
            </ul>
            <h4>Technologies used</h4>
            <p>Adobe Photoshop, HTML, CSS, JavaScript</p>
            <h4>Role in project</h4>
            <p>Webdesigner, front-end developer</p>
            <h4>Contact</h4>
            <p>Project manager at Semler Services A/S, Internet Department, Kenneth Bang</p>
        </div>

        <div class="showcase">
            <h2 class="showcase-heading">Vertic Portals</h2>
            <p class="showcase-date text-muted"><time>2006/10 - 2007/02</time></p>
            <div class="body">
                <p>I worked for Vertic Portals on various projects, including netdating.dk, alinea.dk and BRF Kredit Christmas Calendar.</p>
            </div>
            <h4>Responsibility</h4>
            <ul>
                <li>Designing UI for campaign sites.</li>
                <li>Implementing standard compliant HTML templates.</li>
                <li>Basic Flash functionality like carousels, character animations and gallery functionality.</li>
                <li>Advising in the use of web standards in a Flash focused environment (SEO, printing, portable devices).</li>
            </ul>
            <h4>Technologies used</h4>
            <p>HTML, CSS, JavaScript, Photoshop, Flash</p>
            <h4>Role in project</h4>
            <p>HTML Developer, Web Designer, GUI Specialist.</p>
        </div>

        <div class="showcase">
            <h2 class="showcase-heading">Sikkerhedsstyrelsen</h2>
            <p class="showcase-date text-muted"><time>2006/09 - 2006/10</time></p>
            <div class="body">
                <p>Sikkerhedsstyrelsen wanted a new design for their new year campaign site about fireworks and prevention of accidents, fyrvaerkeri.dk.</p>
            </div>
            <h4>Responsibility</h4>
            <ul>
                <li>Identifying the style of the UI and the structuring the content.</li>
                <li>Designing UI mock-ups.</li>
                <li>Implementing and preparing the HTML templates for the programmers.</li>
                <li>Implementing a Flash carousel.</li>
            </ul>
            <h4>Technologies used</h4>
            <p></p>
            <h4>Role in project</h4>
            <p>Photoshop, Flash/Actionscript, HTML, CSS</p>
            <h4>Contact</h4>
            <p>Web Designer, HTML Developer, Flash developer</p>
        </div>

        <div class="showcase">
            <h2 class="showcase-heading">Audi Denmark</h2>
            <p class="showcase-date text-muted"><time>2006/01 - 2006/04</time></p>
            <div class="body">
                <p>Designing and building a webshop for Audi.dk and a admin system for maintaining the shop. </p>
                <p>The development team consisted of 1 back-end programmer (consultant) and 1 web designer (DAS). </p>
            </div>
            <h4>Responsibility</h4>
            <ul>
                <li>Creating the sitemap for the shop and the admin system.</li>
                <li>Planning/structuring the flow of buying products.</li>
                <li>Planning/structuring the use and flow of the admin system.</li>
                <li>Identifying the design requirements.</li>
                <li>Designing 20+ mock-ups and building the HTML templates for both admin and public site.</li>
                <li>Implementing a XML based Flash product gallery.</li>
                <li>Assisting the developer in implementing the templates.</li>
            </ul>
            <h4>Technologies used</h4>
            <p>Photoshop, HTML, CSS, Flash, JavaScript, AJAX</p>
            <h4>Role in project</h4>
            <p>UI specialist, Web Designer, HTML Developer, Web Usability Specialist.</p>
        </div>

        <div class="showcase">
            <h2 class="showcase-heading">Audi Denmark</h2>
            <p class="showcase-date text-muted"><time>2005/10 - 2005/12</time></p>
            <div class="body">
                <p>The purpose of the project was to migrate Audi's Partner-net, to an IBM Lotus Quickplace solution, and updating the UI with the Audi CI.</p>
            </div>
            <h4>Responsibility</h4>
            <ul>
                <li>Identification of UI requirements.</li>
                <li>Designing photoshop mock-ups.</li>
                <li>Implementing the mock-ups as HTML templates.</li>
                <li>Assisting a Lotus Developer in the implementation into the final Quickplace.</li>
            </ul>

            <h4>Technologies used</h4>
            <p>Photoshop, HTML, CSS, JavaScript, Lotus Quickplace.</p>
            <h4>Role in project</h4>
            <p>Webdesigner, HTML Developer</p>
        </div>

        <div class="showcase">
            <h2 class="showcase-heading">Seat Denmark</h2>
            <p class="showcase-date text-muted"><time>2005/05 - 2005/09</time></p>
            <div class="body">
                <p>Implementing a new seat.dk website inspired by the international seat.com site's CI combined with the Danish content, migrating the website from and old back-end setup to a new one running .NET.</p>
                <p>The development team consisted of 1 back-end programmer and 1 web designer (DAS). </p>
            </div>
            <h4>Responsibility</h4>
            <ul>
                <li>Designing new UI based on the seat.com design.</li>
                <li>Implementing HTML templates.</li>
                <li>Implementing a XML based Flash loader to handle campaigns with streaming/animated content.</li>
            </ul>

            <h4>Technologies used</h4>
            <p>Photoshop, CSS, JavaScript, Flash</p>
            <h4>Role in project</h4>
            <p>Webdesigner, HTML Developer</p>
        </div>
    </div>
</section>
