<div class="section section-dark-gray">
    <div class="section-content">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="section-heading section-heading-sm text-white">Whereabouts</h2>
                <p>I currently live in Copenhagen, Denmark, but I have been fortunate enough to spend 4-5 years of the last 10 outside Denmark, combining traveling and working, exploring cities and places all around the world.</p>
                <!-- <p>I have lived in Chiang Mai, Thailand on an off for almost a year, working online and studying bodywork and buddhism. 2014-2016 was spend in the inspirational Bay Area California, Bangkok Thailand and Cape Town, South Africa.</p> -->
                <p>The last three years I was </p>
                <p>In 2016 was spent working for two cool danish start-up companies, <a href="{{ site.baseurl }}/work/servicelovers/">Servicelovers</a> and <a href="{{ site.baseurl }}/projects/printix/">Printix</a>. This year I got the chance to be part a new eco-camp called <a href="https://www.saltwhistlebay.com">Salt Whistle Bay</a> in St. Vincent, and work for a super cool and upcoming tech startup called <a href="https://www.connectedcars.io">Connected Cars</a>.</p>
            </div>
        </div>

        <div class="row mt70">
            <div class="col-sm-6">
                <h2 class="section-heading text-white section-heading-sm text-center">Jobs</h2>

                <div class="row">
                    <div class="timeline-when col-sm-4">2017-2020</div>
                    <div class="timeline-what col-sm-8">Senior Product Designer at <a href="https://connectedcars.io">Connected Cars</a></div>
                </div>
                <div class="row">
                    <div class="timeline-when col-sm-4">2009-2017</div>
                    <div class="timeline-what col-sm-8">Freelance consultant</div>
                </div>
                <div class="row">
                    <div class="timeline-when col-sm-4">2008-2009</div>
                    <div class="timeline-what col-sm-8">Partner, Gazebo (RoR studio)</div>
                </div>
                <div class="row">
                    <div class="timeline-when col-sm-4">2007-2008</div>
                    <div class="timeline-what col-sm-8">Webdesigner/webdeveloper, <a href="http://semler.dk">Skandinavisk Motor Co.</a></div>
                </div>
                <div class="row">
                    <div class="timeline-when col-sm-4">2006-2007</div>
                    <div class="timeline-what col-sm-8">Webdesigner/webdeveloper, <a href="http://vertic.com">Vertic</a></div>
                </div>
                <div class="row">
                    <div class="timeline-when col-sm-4">2003-2006</div>
                    <div class="timeline-what col-sm-8">Webdesigner, <a href="http://semler.dk">Skandinavisk Motor Co.</a></div>
                </div>
            </div>

            <div class="col-sm-6">
                <h2 class="section-heading text-white section-heading-sm text-center">Languages</h2>

                <div class="row">
                    <div class="timeline-when col-sm-4">Danish (native tongue)</div>
                    <div class="timeline-what col-sm-8">Speak, read and write Danish fluently.</div>
                </div>
                <div class="row">
                    <div class="timeline-when col-sm-4">English</div>
                    <div class="timeline-what col-sm-8">Speak, read and write English fluently.</div>
                </div>
                <div class="row">
                    <div class="timeline-when col-sm-4">Swedish and Norwegian</div>
                    <div class="timeline-what col-sm-8">Understand Swedish and Norwegian.</div>
                </div>
                <div class="row">
                    <div class="timeline-when col-sm-4">German</div>
                    <div class="timeline-what col-sm-8">Understand basic German.</div>
                </div>
            </div>
        </div>
    </div>
</div>
