
<div class="section section-narrow">
    <div class="section-content">
        <h1 class="display-heading mb-5">Hi, I'm a Copenhagen based Senior Product Designer <span class="font-weight-lighter">helping companies build simple and user-friendly web applications.</span></h1>

        <p class="lead mb-4 d-none">I am currently helping <a href="https://semler.dk">Semler</a> implement Figma design systems into their project flow.</p>

        <p class="lead"></p>

        <a class="btn btn-cta" href="/about/" class="lead">
            about me 

            <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M12 5L19 12L12 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

        </a>
    </div>
</div>
