
<div class="section section-hero">
    <div class="section-content">
        <h1 class="hero-heading mb-5">
            <div class="wow fadeInLeft">Versatile</div>
            <div class="wow fadeInLeft" data-wow-delay="0.2s">Product Designer</div>
        </h1>

        <p class="hero-lead mb-5 wow fadeInLeft" data-wow-delay="0.4s">20+ years experience helping brands plan, design and build beautiful, robust and user-friendly digital products.</p>

        <div class="hero-actions">
            <a id="recentWorkBtn" class="btn btn-cta wow fadeInLeft" href="#recentProjects" data-wow-delay="0.6s">Recent work</a>
    
            <a class="btn btn-cta wow fadeInLeft" href="/about/" data-wow-delay="0.8s">About me 
                <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xml    ns="http://www.w3.org/2000/svg">
                    <path d="M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M12 5L19 12L12 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>
        </div>
    </div>
</div>
