
<div class="section">
    <div class="section-content">
        <div class="row">
            <div class="col-md-6 pr-md-5">
                <p class="lead mb-4">Hi, I'm a Copenhagen based designer, currently working as a freelance consultant and co-founder of a secret eco-project in the Caribbean 🌴</a></p>

                <p class="lead">I focus on designing handcrafted user interfaces for digital products.</p>

                <a href="/about/" class="lead">
                    <span>Continue reading</span>
                </a>                
            </div>
            <div class="col-md-5">
                <img src="{{ site.baseurl }}/img/about/me.jpg" alt="" />
            </div>
        </div>
    </div>
</div>