<!-- Project experience -->

<div class="section">
    <div class="section-content">
        <h2 class="section-heading text-red text-center animate fadein-up">Lastest projects</h2>

        <div class="latest-projects">
            <div class="project animate" data-delay="200">
                <a href="{{ site.baseurl }}/projects/vw-service-booking/">
                    <img src="{{ site.baseurl }}/img/projects/vw-service-booking/thumb.jpg" alt="" />
                    <h4 class="project-heading">VW Service booking</h4>
                </a>
            </div>
            <div class="project animate" data-delay="400">
                <a href="{{ site.baseurl }}/projects/vivino/">
                    <img src="{{ site.baseurl }}/img/projects/vivino/thumb.jpg" alt="" />
                    <h4 class="project-heading">Vivino</h4>
                </a>
            </div>
            <div class="project animate" data-delay="600">
                <a href="{{ site.baseurl }}/projects/vw-retail/">
                    <img src="{{ site.baseurl }}/img/projects/vw-retail/thumb.jpg" alt="" />
                    <h4 class="project-heading">VW Retail</h4>
                </a>
            </div>
            <div class="project animate" data-delay="800">
                <a href="{{ site.baseurl }}/projects/semler-car-dealers/">
                    <img src="{{ site.baseurl }}/img/projects/semler-car-dealers/thumb.jpg" alt="" />
                    <h4 class="project-heading">Semler car dealers</h4>
                </a>
            </div>
        </div>

        {% if include.show-button == "true" %}
            <div class="cta text-center">
                <a href="{{ site.baseurl }}/projects/" class="btn btn-cta">More projects</a>
            </div>
        {% endif %}
    </div>
</div>
