<!-- Project experience -->

<div class="latest-projects">
    <figure class="project animate">
        <img src="{{ site.baseurl }}/img/projects/vw-service-booking/thumb.jpg" alt="" />
        <figcaption>
            <h4 class="project-heading">VW Service booking</h4>
            <p>Redesigning VW's service booking flow.</p>
            <a href="{{ site.baseurl }}/projects/vw-service-booking/">View project</a>
        </figcaption>
    </figure>

    <figure class="project animate">
        <img src="{{ site.baseurl }}/img/projects/vivino/thumb.jpg" alt="" />
        <figcaption>
            <h4 class="project-heading">Vivino.com</h4>
            <p>Complete rewrite of Vivino.com's front-end.</p>
            <a href="{{ site.baseurl }}/projects/vivino/">View project</a>
        </figcaption>
    </figure>

    <figure class="project fadein-up">
        <img src="{{ site.baseurl }}/img/projects/vw-retail/thumb.jpg" alt="" />
        <figcaption>
            <h4 class="project-heading">VW Retail</h4>
            <p>13 car VW dealer websites united into one.</p>
            <a href="{{ site.baseurl }}/projects/vw-retail/">View project</a>
        </figcaption>
    </figure>

    <figure class="project animate">
        <img src="{{ site.baseurl }}/img/projects/semler-car-dealers/thumb.jpg" alt="" />
        <figcaption>
            <h4 class="project-heading">Semler car dealers</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <a href="{{ site.baseurl }}/projects/semler-car-dealers/">View project</a>
        </figcaption>
    </figure>

    <figure class="project animate">
        <img class="img-placeholder" src="{{ site.baseurl }}/img/projects/project-placeholder.png" alt="" />
        <figcaption>
            <h4 class="project-heading">Coming ...</h4>
        </figcaption>
    </figure>

    <figure class="project animate">
        <img class="img-placeholder" src="{{ site.baseurl }}/img/projects/project-placeholder.png" alt="" />
        <figcaption>
            <h4 class="project-heading">Coming ...</h4>
        </figcaption>
    </figure>
</div>

{% if include.show-button == "true" %}
    <div class="cta text-center">
        <a href="{{ site.baseurl }}/projects/" class="btn btn-cta switch-page">More projects</a>
    </div>
{% endif %}
