<div class="header-container">
	<nav class="site-nav">
		<a href="{{ site.baseurl }}/" class="logo">Daniel Aakjær Sørensen</a>
		<ul class="nav primary-links">
			<li>
				<a class="switch-page" href="{{ site.baseurl }}/">Home</a>
			</li>
			<li>
				<a class="switch-page" href="{{ site.baseurl }}/work/">Work</a>
			</li>
			<li>
				<a class="switch-page" href="{{ site.baseurl }}/about/">About</a>
			</li>
		</ul>

		<ul class="secondary-links">
			<li><a href="https://www.linkedin.com/in/danielaakjaer">LinkedIn</a></li>
			<li><a href="https://www.instagram.com/danielaakjaer/">Instagram</a></li>
			<li><a href="https://www.twitter.com/danielaakjaer/">X/Twitter</a></li>
		</ul>
	</nav>
</div>
