<div class="sidebar-container">
	<nav class="site-nav">
		<ul class="primary-links">
			<li{% if page.bodyclass contains "page-home" %} class="active"{% endif %}><a href="{{ site.baseurl }}/">Home</a></li>
			<li{% if page.bodyclass contains "page-projects" %} class="active"{% endif %}><a href="{{ site.baseurl }}/projects/">Projects</a></li>
			<li{% if page.bodyclass contains "page-contact" %} class="active"{% endif %}><a href="{{ site.baseurl }}/contact/">Contact</a></li>
		</ul>

		<ul class="secondary-links">
			<li><a href="/submit/">Blog</a></li>
			<li><a href="/faq/">Facebook</a></li>
			<li><a href="/license/">LinkedIn</a></li>
		</ul>
	</nav>
</div>
