<section class="section section-skills section--dark-gray">
    <div class="section-content">

        <h2 class="display-heading">
			Skills
        </h2>

        <hr class="separator-lg separator-green" />

		<div class="skills row">
			<div class="skill">
				<h4 class="group-heading text-white">UI &amp; UX</h4>
				<p>I always try to design products that guide the user smoothly from on step to the next. I study how it feels, improving the interface and journey until people say: "WOW, this is great!".</p>
			</div>
			<div class="skill">
				<h4 class="group-heading text-white">Prototypes</h4>
				<p>I build handcrafted responsive prototypes and templates through short release cycles to test and showcase ideas fast. Prototypes in my opinion are pricesless when iterating UX or UI with clients.</p>
			</div>
			<div class="skill">
				<h4 class="group-heading text-white">Front-end deliveries</h4>
				<p>Prototypes gradually mature to a point of being production ready. Refining prototypes and taking them to a production level is a big part of what I do. Eventually they are adopted by a main project or handed over as finished front-end components.</p>
			</div>
		</div>
		<div class="skills row">
			<div class="skill">
				<h4 class="group-heading text-white">Testing</h4>
				<p>Noticing glitches and bugs is an inevitable part of being a perfectionst. And that I am. I take pride in methodically hunting down pixel imperfections, browser specific issues and usability problems that people would not normally notice.</p>
			</div>
			<div class="skill">
				<h4 class="group-heading text-white">Teaching</h4>
				<p>I have taught beginner to advanced level front-end development skills, from understanding HTML semantics, my thoughts on patterns to look for in a design, planning responsive behavior, CSS naming strategies, to CSS pre-processor techniques and typography.</p>
			</div>
			<div class="skill">
				<h4 class="group-heading text-white">Character design</h4>
				<p>Drawing characters has been a passion of mine since I was a kid and I still find great joy in doing it professionaly as a supplement to the more technical areas I work in.</p>
			</div>
		</div>
    </div>
</section>
