<section class="section section-skills section-dark-gray">
    <div class="section-content">
        <h2 class="display-heading">I am pretty good at this</h2>
        <hr class="separator-lg separator-green" />

		<div class="skills row">
			<div class="skill">
				<h4 class="text-white">UI &amp; UX</h4>
				<p>I design products that smoothly guide the user from on step to the next. I study how it feels, improving the UX and UI until people say "WOW, we need that!".</p>
			</div>
			<div class="skill">
				<h4 class="text-white">Prototypes</h4>
				<p>I build handcrafted responsive prototypes and templates through short release cycles to test and showcase ideas fast. Prototypes in my opinion are pricesless when iterating UX or UI with clients.</p>
			</div>
			<div class="skill">
				<h4 class="text-white heavy">Front-end deliveries</h4>
				<p>I refine my prototypes and they are either gradually adopted by a main project or handed over as a finished front-end delivery, for developers to use as a 1:1 model.</p>
			</div>
		</div>
		<div class="skills row">
			<div class="skill">
				<h4 class="text-white">Testing</h4>
				<p>Noticing glitches and bugs is inevitable part of being a perfectionst. I take pride hunting down pixel imperfections, browser specific issues and usability problems that noone else notices.</p>
			</div>
			<div class="skill">
				<h4 class="text-white">Teaching</h4>
				<p>I have taught beginner-advanced level front-end development skills, including understanding HTML semantics, my thoughts on patterns to look for in a design, planning responsive behavior, CSS naming strategies, CSS pre-processor techniques and typography.</p>
			</div>
			<div class="skill">
				<h4 class="text-white">Character design</h4>
				<p>Drawing characters has been a life-long passion of mine, that I still enjoy as a great supplement and variety to the more technical areas that I work in.</p>
			</div>
		</div>
    </div>
</section>
