<section class="section section-skills section--dark-gray">
    <div class="section-content">

        <h2 class="display-heading">
            Me, me, me...
        </h2>

        <hr class="separator-lg separator-green" />

        <p class="lead text-center">Hi, my name is Daniel Aakjær Sørensen. And yes, those are letters indeed! Danish is weird a language and don't even get me started on the pronunciation. Right... where was I? I guess I should get to the point and explain what it is that I do, huh?</p>

		<div class="skills row">
			<div class="skill">
				<h4 class="text-white">UI &amp; UX</h4>
				<p>I always try to design products that guide the user smoothly from on step to the next. I study how it feels, improving the interface and journey until people say: "WOW, this is great!".</p>
			</div>
			<div class="skill">
				<h4 class="text-white">Prototypes</h4>
				<p>I build handcrafted responsive prototypes and templates through short release cycles to test and showcase ideas fast. Prototypes in my opinion are pricesless when iterating UX or UI with clients.</p>
			</div>
			<div class="skill">
				<h4 class="text-white heavy">Front-end deliveries</h4>
				<p>Prototypes gradually mature to a point of being production ready.

                    Refining prototypes and taking them the a production level is a big part of what I do. eventually they are adopted by a main project or handed over as a finished front-end components.</p>
			</div>
		</div>
		<div class="skills row">
			<div class="skill">
				<h4 class="text-white">Testing</h4>
				<p>Noticing glitches and bugs is an inevitable part of being a perfectionst. And that I am. I take pride in methodically hunting down pixel imperfections, browser specific issues and usability problems that normal people would not notice.</p>
			</div>
			<div class="skill">
				<h4 class="text-white">Teaching</h4>
				<p>I have taught beginner to advanced level front-end development skills, from understanding HTML semantics, my thoughts on patterns to look for in a design, planning responsive behavior, CSS naming strategies, to CSS pre-processor techniques and typography.</p>
			</div>
			<div class="skill">
				<h4 class="text-white">Character design</h4>
				<p>Drawing characters has been a passion of mine since I was a kid and I still find great joy in doing it professionaly as a supplement to the more technical areas I work in.</p>
			</div>
		</div>
    </div>
</section>
