<section class="section">
    <div class="container">
        <h2 class="section-heading text-center animate fadein-down">Current activities</h2>
        <p class="lead text-center animate fadein">At any given time I find myself working on mulitple things, so here is a quick snapshot of some of my current projects.</p>
        <hr class="separator-blue animate fadein-up" />

        <div class="project-preview">
            <div class="col-sm-offset-1 col-sm-5 animate fadein-left">
                <img src="{{ site.baseurl }}/img/projects/sinon-lg.png" alt="" />
            </div>
            <div class="col-sm-offset-1 col-sm-5 animate fadein-right">
                <h3>Sinon JS identity</h3>
                <p class="lead">In progress</p>
                <p>Character/logo design for SinonJS, a standalone unit testing library for JS.</p>
            </div>
        </div>
        <div class="project-preview">
            <div class="col-sm-5 animate fadein-left" data-delay="200">
                <h3>Online identity for law firm</h3>
                <p class="lead">In progress</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum non, delectus! Ducimus ex voluptate impedit reiciendis. Doloremque odio, quod quisquam repellat sint animi nisi est a laborum culpa aperiam maiores?</p>
            </div>
            <div class="col-sm-offset-1 col-sm-6 animate fadein-right" data-delay="200">
                <img src="{{ site.baseurl }}/img/projects/retsadvokaterne-lg.png" alt="" />
            </div>
        </div>
    </div>
</section>
