<div class="section">
    <div class="section-content">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="section-heading text-center">Whereabouts</h2>
                <p>I currently live in Copenhagen, Denmark, but I have been fortunate enough to spend 2 1/2 years of the last 5 outside Denmark, combining traveling and working, exploring cities and places all around the world.</p>
                <p>I lived in Chiang Mai, Thailand on an off for almost a year... working online and studying bodywork and buddhism. 4-5 months of 2014 was spend in the inspirational bay area by San Francisco, and in 2015 I worked from Bangkok, Thailand and Cape Town, South Africa.</p>
            </div>
            <div class="col-sm-6">
                <h2 class="section-heading text-center">Education</h2>

                <div class="row">
                    <div class="timeline-when col-sm-4">2001-2003</div>
                    <div class="timeline-what col-sm-8">Multimediedesigner – Køge Erhvervsakademi</div>
                </div>
                <div class="row">
                    <div class="timeline-when col-sm-4">1997-2000</div>
                    <div class="timeline-what col-sm-8">High School graduate - Roskilde Tekniske Gymnasium HTX</div>
                </div>
                <div class="row">
                    <div class="timeline-when col-sm-4">1986-1997</div>
                    <div class="timeline-what col-sm-8">Primary exame - Tune Skole</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h2 class="section-heading text-center">Jobs</h2>

                <div class="row">
                    <div class="timeline-when col-sm-4">2009-2015</div>
                    <div class="timeline-what col-sm-8">Freelance consultant</div>
                </div>
                <div class="row">
                    <div class="timeline-when col-sm-4">2008-2009</div>
                    <div class="timeline-what col-sm-8">Partner, Gazebo (RoR studio)</div>
                </div>
                <div class="row">
                    <div class="timeline-when col-sm-4">2007-2008</div>
                    <div class="timeline-what col-sm-8">Webdesigner/webdeveloper, <a href="http://semler.dk">Skandinavisk Motor Co.</a></div>
                </div>
                <div class="row">
                    <div class="timeline-when col-sm-4">2006-2007</div>
                    <div class="timeline-what col-sm-8">Webdesigner/webdeveloper, <a href="http://vertic.com">Vertic</a></div>
                </div>
                <div class="row">
                    <div class="timeline-when col-sm-4">2003-2006</div>
                    <div class="timeline-what col-sm-8">Webdesigner, <a href="http://semler.dk">Skandinavisk Motor Co.</a></div>
                </div>
            </div>

            <div class="col-sm-6">
                <h2 class="section-heading text-center">Languages</h2>

                <div class="row">
                    <div class="timeline-when col-sm-4">Danish (native tongue)</div>
                    <div class="timeline-what col-sm-8">Speaks, reads and writes Danish fluently.</div>
                </div>
                <div class="row">
                    <div class="timeline-when col-sm-4">English</div>
                    <div class="timeline-what col-sm-8">Speaks, reads and writes English fluently.</div>
                </div>
                <div class="row">
                    <div class="timeline-when col-sm-4">Swedish and Norwegian</div>
                    <div class="timeline-what col-sm-8">Understands Swedish and Norwegian.</div>
                </div>
                <div class="row">
                    <div class="timeline-when col-sm-4">German</div>
                    <div class="timeline-what col-sm-8">Understands basic German.</div>
                </div>
            </div>
        </div>
    </div>
</div>
