<!-- Project experience -->

<section class="section">
    <div class="section-content">
        <h2 class="section-heading text-center animate fadein-up">Recent projects</h2>
        <hr class="separator-red animate fadein-up" />

        <div class="latest-projects">
            <div class="project animate" data-delay="300">
                <a href="{{ site.baseurl }}/projects/vw-retail/">
                    <img src="{{ site.baseurl }}/img/projects/vw-retail/thumb.jpg" alt="" />
                </a>
            </div>
            <div class="project animate" data-delay="200">
                <a href="{{ site.baseurl }}/projects/vw-service-booking/">
                    <img src="{{ site.baseurl }}/img/projects/vw-service-booking/thumb.jpg" alt="" />
                </a>
            </div>
            <div class="project animate" data-delay="100">
                <a href="{{ site.baseurl }}/projects/vivino/">
                    <img src="{{ site.baseurl }}/img/projects/vivino/thumb.jpg" alt="" />
                </a>
            </div>
            <div class="project animate">
                <a href="{{ site.baseurl }}/projects/semler-car-dealers/">
                    <img src="{{ site.baseurl }}/img/projects/semler-car-dealers/thumb.jpg" alt="" />
                </a>
            </div>
        </div>

        <!-- <div class="cta text-center">
        <a href="{{ site.baseurl }}/projects/" class="btn btn-cta btn-primary">More projects</a>
    </div> -->
</div>
</section>
