<!-- Project experience -->

<section class="section">
    <div class="section-content">
        <h2 class="section-heading text-center animate fadein-up">Latest projects</h2>
        <p class="lead text-center animate fadein-up">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore dolorum autem quos quis reprehenderit ab cupiditate fuga illo provident, aspernatur repudiandae eius accusamus accusantium laborum. Ducimus earum, reprehenderit magnam veritatis.</p>
        <hr class="separator-blue animate fadein-up" />

        <div class="latest-projects">
            <div class="project animate" data-delay="300">
                <a href="#.#">
                    <img src="{{ site.baseurl }}/img/test/red-block.png" alt="" />
                    <h4>Volkswagen Retail</h4>
                </a>
            </div>
            <div class="project animate" data-delay="200">
                <a href="#.#">
                    <img src="{{ site.baseurl }}/img/test/yellow-block.png" alt="" />
                    <h4>VW service booking</h4>
                </a>
            </div>
            <div class="project animate" data-delay="100">
                <a href="{{ site.baseurl }}/projects/vivino/">
                    <img src="{{ site.baseurl }}/img/projects/vivino/vivino-logo.png" alt="" />
                    <h4>Vivino</h4>
                </a>
            </div>
            <div class="project animate">
                <a href="#.#">
                    <img src="{{ site.baseurl }}/img/test/blue-block.png" alt="" />
                    <h4>Volkswagen Retail</h4>
                </a>
            </div>
        </div>

        <div class="cta text-center">
            <a href="{{ site.baseurl }}/projects/" class="btn btn-cta btn-primary">Project history</a>
        </div>
    </div>
</section>

<!--

<div class="morph-button morph-button-overlay morph-button-fixed hide">
    <a class="btn btn-info">Projects</a>

    <div class="morph-content">
        <div>
            <div class="content-style-overlay">
                <span class="icon icon-close">Close the overlay</span>
                <h2>About Parsley</h2>
                <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.</p>
                <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts nori azuki bean chickweed potato bell pepper artichoke.</p>
                <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.</p>
                <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts nori azuki bean chickweed potato bell pepper artichoke.</p>
                <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.</p>
                <p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts nori azuki bean chickweed potato bell pepper artichoke.</p>
            </div>
        </div>
    </div>
</div>-->

<!-- morph-button -->
