@import "hamburger-settings";
@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers";

//.......................................

html, body { height: 100vh; }

body {
	margin: 0;
	font-weight: 400;
	font-optical-sizing: auto;}

.container {
	@include media-breakpoint-down(lg) {
		max-width: none;
	}
}

.form-control {
	box-shadow: none;
}

.form-actions {
	margin-top: 2em;
	text-align: right;
}

.contact-form {
	max-width: 30em;
	margin: 0 auto 5em;
}

.logo {
	// display: inline-block;
	// height: 100px;
	// width: 300px;
    // z-index: $content;
	// margin: 50px 0;
	// background: url(../img/logo.svg) 50% 50% no-repeat;

	// @include media-breakpoint-up(sm) {

	// 	html:not(.page-home) & {
	// 		height: 100px;
	// 		width: 300px;
	// 		margin: 70px;
	// 	}
	// }
}

// stage section
.stage {
	padding: 50px 0;

	.stage-img {
		display: block;
		margin: 0 auto 50px; // 100px;
	}

	.stage-lead {
		font-size: 30px;
		font-size: 3rem;
		letter-spacing: 0.03em;
		text-align: center;
	}


	@include media-breakpoint-up(sm) {
		padding: 170px 0 100px;

		.stage-img {
			margin-bottom: 100px;
		}
	}
}


.content-wrapper {
	min-height: 100vh;
	// z-index: 500;
    background: white;
    transition: all 0.4s;
    transform: translate3d(0, 0, 0);
}

header[role="banner"] {
	position: fixed;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
	z-index: 10;
}

.site-header .header-container {

	@include media-breakpoint-up(md) {
		padding-left: 2vw;
		padding-right: 2vw;
	}

	// @include media-breakpoint-up(lg) {
	// 	padding-left: 4.5rem;
	// 	padding-right: 4.5rem;
	// }
}

.branding {
	text-align: center;

	.page-home & {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: $above-content;
	}
}


.teasers {

	.teaser-header {
		font-size: 25px;
		font-size: 2.5rem;
		margin-bottom: 15px;
		text-transform: uppercase;
		color: #768371;
		line-height: 1.5em;
	}

	.teaser-text {
		font-size: 16px;
		font-size: 1.6rem;
		line-height: 1.5em;

		@include media-breakpoint-up(sm) {
			padding-right: 30px;
			font-size: 18px;
			font-size: 1.8rem;
		}

		@include media-breakpoint-down(xs) {
			& + .teaser {
				margin-top: 50px;
			}
		}
	}
}

img {
	@extend .img-fluid;
}

strong {
	font-weight: 600;
}

.animate {
	opacity: 0;
	will-change: opacity, transform;
}

blockquote {
	position: relative;
	border: 0;
	font-size: 1.25rem;

	footer {
		display: flex;
		margin-top: 2rem;
		flex-direction: row;
		justify-content: left;
		align-items: center;
		text-align: left;
	}

	.quote-image {
		max-width: 4em;
		margin-right: 1.5rem;
		border-radius: 50%;
	}
}


.timeline-when,
.timeline-what {
	margin-bottom: 10px;
}

.timeline-when {
	font-weight: 400;

	@include media-breakpoint-up(sm) {
		text-align: right;
	}
}

// .btn {
//     display: inline-block;
//     margin-bottom: 0;
//     font-weight: normal;
//     text-align: center;
//     vertical-align: middle;
//     touch-action: manipulation;
// 	font-family: $headings-font-family;
//     cursor: pointer;
//     border: 1px solid transparent;
// 	border-radius: 0;
//     white-space: nowrap;
//     padding: 6px 12px;
//     font-size: 16px;
//     line-height: 1.6;
// 	user-select: none;
// 	text-decoration: none;
// }

.btn-cta {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 0.75rem;
    padding: 0.75rem 1.375rem;
	font-size: 0.875rem;
	font-weight: 500;
	color: $white;
	letter-spacing: 0.015em;
	border-radius: 10rem;
	background-color: $gray-950;
	transition: all $easing-default;
	text-transform: uppercase;
	text-decoration: none;

	@include media-breakpoint-up(md){
		font-size: 1rem;
		padding: 1.125rem 2rem;
	}
	
	.icon {
		transition: all 0.2s ease-in-out;
	}

	&:hover {
		transform: scale(1.04);
		background-color: $gray-800;
		color: $white;
		text-decoration: none;

		.icon {
			transform: translateX(3px);
		}
	}

	&:active {
		transform: scale(0.94);
		background-color: $gray-950;
	}
}


.btn-submit {
    padding: 0 2em;
	line-height: 3.5em;
    text-transform: uppercase;
    font-weight: 800;
	border: 3px solid $brand-green;
	background: transparent;
	color: $brand-green;
	border-width: 3px;
	font-size: 1em;
	transition: all 0.3s;

	&:hover {
		background: $brand-green;
		color: white;
		border-color: transparent;
	}
}

.btn-primary {

}

.btn-secondary {
	@include button-variant(white, $brand-blue, transparent);
	padding: 10px 25px;
	font-size: 0.9em;
	text-transform: uppercase;
}

.back-link {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	padding: 0.5rem 0;
	text-decoration: none;
}


th {
	min-width: 20%;
	padding-right: 15px;
}

.page-title + .lead {
	margin-top: -60px;
}


.cv-profile-img {
	margin: 40px auto;
	border-radius: 50%;
	max-width: 200px;
}


// projects

.project-bar {
	padding: 1em 0;
	background: white;
	text-align: center;
	border-bottom: 1px solid $gray-200;

	.btn {
		padding: 10px 35px;
	    text-transform: uppercase;
	    font-size: 1.3rem;
	    font-weight: 500;
	}

	.dropdown-menu {
		text-align: left;
		font-size: 0.8em;
	}
}

.project-header  {
}

.project-brow {
	display: block;
	margin-bottom: 0;
	text-transform: uppercase;
	font-weight: 600;
	color: $text-muted;
	font-size: 0.9325rem;
}

.project-intro .section-content {
	padding-top: 0;
}

.project-details {
	margin: 2em 0 0;
	@extend .list-unstyled;
}

.project-detail {
	margin-bottom: 1.5em;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 600;

	span {
		display: block;
		color: $text-muted;
		font-size: 0.8em;
	}

	&.project-demo,
	&.project-technology {

		ul {
			@extend .list-unstyled;
		}
	}
}



.project-image {

	figure {}
	figcaption {}
}

// .project-image img,
.project-image {
	border-radius: $border-radius;
	margin-bottom: $grid-gutter-width;
}

.project-image-text {
	margin: 0 0 3em;
}

.project-image-caption {

}

.project-preview {
	margin-top: 5em;
}

.work-history {

	.list-group-item {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		padding: 2rem 2rem 2rem 2.5rem;
		text-decoration: none;
		transition: all 0.2s ease-in-out;
		color: $body-color;
		font-weight: 400;
		background: none;
		
		@include media-breakpoint-up(md) {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}

	a.list-group-item:hover {
		background-color: rgba(0,0,0, 0.025);
		border-color: $body-color;

		.work-history_company,
		.work-history_title,
		.work-history_year {
			color: text-muted;
		}

		@include media-breakpoint-up(sm) {
			.work-history_company {
				transform: translateX(5px);
			}

			.work-history_year {
				transform: translateX(-5px);
			}
		}
	}

	.work-history_company,
	.work-history_year {
		transition: all 0.2s ease-in-out;
	}


	.work-history_company {
		font-weight: 500;
		flex-basis: 100%;
		
		@include media-breakpoint-up(md) {
			width: 30%;
			margin-right: 0.5rem;
			flex-basis: auto;
		}
	}
	
	.work-history_title {
		
	}

	.work-history_year {
		@include media-breakpoint-up(md) {
			margin-left: auto;
		}
	}

	.work-history_details {
		flex-basis: 100%;
		font-size: 1rem;
		
		> div {
			padding: 4rem 0 1rem;
		}
	}
}

.contractor {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -1.5rem;
		height: 6px;
		width: 6px;
		background: $brand-purple;
		border-radius: 6px;

		@include media-breakpoint-up(md) {
			height: 8px;
			width: 8px;
		}
	}
}


// latest projects - front page

.latest-projects {

	figure {
		margin-bottom: 2.5rem;
	}

	@include media-breakpoint-up(sm) {
		.row {
			margin-left: -1.125;
			margin-right: -1.125rem;
		}
		
		[class*="col-"] {
			padding-left: 1.125rem;
			padding-right: 1.125rem;
		}
	}
	
	@include media-breakpoint-up(md) {
		.row {
			margin-left: -1.125rem;
			margin-right: -1.25rem;
		}
		
		[class*="col-"] {
			padding-left: 1.125rem;
			padding-right: 1.125rem;
		}
		
		figure {
			margin-bottom: 2.25rem;
		}
	}

	// @include media-breakpoint-up(lg) {
	// 	.row {
	// 		margin-left: -2.25rem;
	// 		margin-right: -2.25rem;
	// 	}
		
	// 	[class*="col-"] {
	// 		padding-left: 2.25rem;
	// 		padding-right: 2.25rem;
	// 	}
	// }
	
	figure > a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	    opacity: 0;
		z-index: 100;
	    text-indent: 200%;
	    white-space: nowrap;
	    font-size: 0;
	}

	.project {
		@include make-col-ready();
		position: relative;
		padding-left: 1rem;
		padding-right: 1rem;
		margin-bottom: 2rem;
	}

	.project, img, .project-heading {
		transition: 0.2s ease-in-out;
	}

	picture {
		display: block;
		overflow: hidden;
	}
	
	img,
	.img-placeholder {
		width: 100%;
		max-width: 100%;
		height: auto;
		vertical-align: middle;
		object-fit: cover !important;
		background: rgba(black, 0.05);
	}

	.project-heading {
		margin-bottom: 0 0 0.3em;
		font-size: 1.125em;
		font-weight: 600;
	}

	figure p {
		font-size: 1rem;
		font-weight: 400;
		color: $text-muted;
	}

	figcaption {
		padding: 1.5em 0 2em;
		min-height: 5em;
	}

	.project:hover {

		.project-heading {
			color: $link-color;
		}
	}
}

.contact-links {
	@extend .list-unstyled;
	display: flex;
	gap: 2.5rem;
	
	a {
		font-size: 0.875rem;
		transition: color 0.2s ease;
		text-decoration: none;
		text-transform: uppercase;
	}
}

////////////////////////////////////////

// parallax

////////////////////////////////////////

.img {
	position: relative;
	width: Min(80vw, 900px);
	padding: 10vw;
}

.image-container.parallax {
	width: 100%;
	padding-top: 80%;
	position: relative;
	overflow: hidden;

	img {
		width: auto;
		height: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%) scale(1.4);
		transform-origin: 50% 50%;
	}
}

// Smooth scroll
.lenis {
	&.lenis-smooth {
		scroll-behavior: auto;

		[data-lenis-prevent] {
			overscroll-behavior: contain;
		}
	}

	&.lenis-stopped {
		overflow: hidden;
	}

	&.lenis-scrolling iframe {
		pointer-events: none;
	}
}

////////////////////////////////////////

// browser top for project images

////////////////////////////////////////

.browser {
	max-width: 1400px;
	margin: 3rem auto;
	border-radius: 7px;
	box-shadow: 0 1rem 20px rgba(0,0,0,.1);
	
	.browser-top {
		display: block;
		@include border-top-radius(3px);
	}

	img {
		border-radius: 6px;
		@include media-breakpoint-up(sm) {
			@include border-top-radius(0);
		}
	}
}


.tilt-left-sm,
.tilt-right-sm,
.tilt-left-md,
.tilf-right-md {
	transition: transform 0.3s ease-in-out;
}


.tilt-left-sm {
	@include media-breakpoint-up(sm) {
		transform: rotate(-8deg);
	}
}
.tilt-right-sm {
	@include media-breakpoint-up(sm) {
		transform: rotate(8deg);
	}
}

.tilt-left-md {
	@include media-breakpoint-up(md) {
		transform: rotate(-8deg);
	}
}
.tilt-right-md {
	@include media-breakpoint-up(md) {
		transform: rotate(8deg);
	}
}


// mobile device to display screenshots inside
.device {
	position: relative;
	max-width: 20rem;
	margin: 0 auto 1.5em;
	border-radius: 40px;
	background-color: rgb(34,34,34);
	box-shadow: inset 0 -5px 10px rgba(170,180,200,.2), 0 2px 6px rgba(0,20,60,.15), 0 5px 30px rgba(0,20,60,.01);

	@include media-breakpoint-up(sm) {
		border-radius: 40px;
		max-width: 400px;
	}
}

.device--white {
	background-color: #fff;
}

.device__bg {}

// show mobile device on svg devices
.device__screen {
	position: absolute;
	z-index: 2;
	top: 8.6663669%;
	left: 0;
	right: 0;
	width: 91.575092%;
	height: 79%;
	margin: 0 auto;
	// background: rgba(white, 0.1);

	img {
		border-radius: 10px;
		border: 2px solid rgba(150,150,150,.1);
		box-shadow: inset 1px 1px 10px rgba(255,255,255, 0.15);
	}
}


.showcases {
	@include make-row();

	@include media-breakpoint-down(xs) {
		margin-left: 0;
		margin-right: 0;
	}
}


#showcases[data-columns]::before {
	@include media-breakpoint-up(sm) {
		content: '3 .col-sm-4';
	}
}

.showcase {
	overflow: hidden;
	margin-bottom: 30px;
	padding: 30px;
	background: white;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
	font-size: 1rem;

	&-heading {
		margin: 0 0 1rem;
		font-size: 1.25em;
	}

	time {
		display: block;
		font-size: 1rem;
	}
}

.showcase h4 {
	font-size: 0.9em;
	margin: 20px 0 5px;
	color: $gray-500;
}

.showcase-recommendation {
	margin-top: 40px;
	padding-top: 30px;
}

.showcase blockquote {
	position: relative;
	margin: 0 -30px -30px;
	padding: 30px 30px 50px;
	font-size: 1.1em;
	background: $brand-green;
	color: white;

	&::before {
		color: rgba(white, 0.4);
	}

	footer {
		margin-top: 25px;
		color: rgba(white, 0.6);
	}
}

.showcase-images {
	display: flex;
	@extend .list-unstyled;
	flex-wrap: wrap;
	margin-top: 1.5em;
	margin-bottom: 1.5em;

	li {
		width: 100px;
		padding: 6px;
		margin-bottom: 15px;
	}

	img {
		box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
	}
}


table th,
table td {
	vertical-align: top;
}

footer[role="contentinfo"] {
	display: flex;

	.section-content {
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: space-between;
	}

	.contact-links a {
		font-weight: 500;
		color: $text-white-dimmed;

		&:hover {
			color: $body-color;
			text-decoration: underline;
		}
	}

	.btn-cta {
		background-color: $gray-900;
	}
}


.footer-contact {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	@include media-breakpoint-up(sm) {
		flex-direction: row;
	}
}


////////////////////////////////////////

// Page and images transitions

////////////////////////////////////////

// page animations
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fade-in;
}


@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes(fadeInUp) {
	0% {
		opacity: 0;
		@include transform(translateY(20px));
	}

	100% {
		opacity: 1;
		@include transform(translateY(0));
	}
}

@mixin fadeInUp($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
	@include animation-name(fadeInUp);
	@include count($count);
	@include duration($duration);
	@include delay($delay);
	@include function($function);
	@include fill-mode($fill);
	@include visibility($visibility);
}

.fade-out {
  animation-name: fade-out;
}

.skills:first-of-type {
	margin-top: 5em;
}

.skill {
    margin-bottom: 50px;
	
	@include make-col-ready();

	@include media-breakpoint-up(sm) {
		@include make-col(4);
	}	
}

.quote {
	margin: 4rem 0;
	padding: 1.5rem 2rem;
	background: #EBF2EB;
	font-weight: 500;
	color: rgba($body-color, 0.7);

	@include media-breakpoint-up(md) {
		padding: 2.5rem 3rem 1.5rem;
	}
}

.fancy-list {
	margin: 2rem 0;

	> li {
		position: relative;
		margin: 0 0 5rem;
		padding-left: 3rem;

		&::before {
			content: "";
			position: absolute;
			display: block;
			left: 1rem;
			top: 1rem;
			width: 1rem;
			height: 3px;
			background-color: $body-color;
		}
	}
}

.nifty-list {
	margin-block-start: 0.5rem;
	padding-inline-start: 1.5rem;

	li {
		padding-left: 0.375rem;
	}

	.section-dark & {
		li::marker {
			color: rgba(255,255,255, 0.5);
		}
	}
}


// swiper
:root {
	--swiper-theme-color: #fff;
	--swiper-navigation-size: 24px;
	--swiper-navigation-sides-offset: 0;
}

.swiper {
	margin: 3rem 0;
	border-radius: $border-radius;

	@include media-breakpoint-up(xl) {
		&.expand {
			margin-left: -10rem;
			margin-right: -10rem;
		}
	}
}

.swiper-button-prev,
.swiper-rtl .swiper-button-prev,
.swiper-button-next,
.swiper-rtl .swiper-button-next {
	margin-top: calc(0px - (var(--swiper-navigation-size)/ 2) - 16px);
	padding: 32px 24px;
	background: rgba(#000, 0.7);
	transition: all 0.25s ease-in-out;

	.swiper:not(:hover) & {
		opacity: 0;
	}
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.client-icon-list {
	display: flex;
	flex-wrap: wrap;
	gap: 2.5rem;
	justify-content: center;

	@include media-breakpoint-up(sm) {
		gap: 3rem;
	}

	@include media-breakpoint-up(lg) {
		gap: 4rem;
	}
}

hr {
	margin-bottom: 3em;
	border-width: 1px;
	border-color: rgba(black, 0.1);

	&:last-child {
		margin-bottom: 0;
	}
}