

//.......................................

html, body { height: 100%; }

body {
	margin: 0;
	font-weight: 300;
}

a:hover,
a:focus {
	text-decoration: none;
}

.text-nowrap {
	white-space: nowrap;
}

header[role="banner"] {
	text-align: right;
}

.logo {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	height: 55px;
	width: 200px;
    z-index: $content;
	margin: 25px 0 0 5%;
	background: url(../img/logo.svg) 0 0 no-repeat;
	@include text-hide();
}

// stage section
.stage {
	padding: 50px 0;

	.stage-img {
		display: block;
		margin: 0 auto 50px; // 100px;
	}

	.stage-lead {
		font-size: 30px;
		font-size: 3rem;
		letter-spacing: 0.03em;
		text-align: center;
	}


	@media screen and (min-width: $screen-sm-min) {
		padding: 170px 0 100px;

		.stage-img {
			margin-bottom: 100px;
		}
	}
}



.teasers {

	.teaser-header {
		font-size: 25px;
		font-size: 2.5rem;
		margin-bottom: 15px;
		text-transform: uppercase;
		color: #768371;
		line-height: 1.5em;
	}

	.teaser-text {
		font-size: 16px;
		font-size: 1.6rem;
		line-height: 1.5em;

		@media screen and (min-width: $screen-sm-min) {
			padding-right: 30px;
			font-size: 18px;
			font-size: 1.8rem;
		}

		@media screen and (max-width: $screen-xs-max) {

			& + .teaser {
				margin-top: 50px;
			}
		}
	}
}

img {
	@extend .img-responsive;
}


.animate {
	opacity: 0;
	will-change: opacity, transform;
}

blockquote {
	border: 0;

	&::before {
		content: '“';
		display: block;
		overflow: hidden;
		@include center-block();
		text-align: center;
		width: 100px;
		height: 100px;
		font-family: serif;
		font-size: 8em;
		line-height: 1em;
		color: $brand-red;
	}

	footer::before {
		content: "";
	}
}

.quote-image {
	@include center-block;
	max-width: 5em;
	margin-top: 2em;
	margin-bottom: 1em;
	border-radius: 50%;
}

.timeline-when,
.timeline-what {
	margin-bottom: 10px;
}

.timeline-when {
	font-weight: 400;

	@media (min-width: $screen-sm-min) {
		text-align: right;
	}
}


.cta {
    padding-top: 4em;
}

.btn-cta {
    padding: 0 60px;
	line-height: 60px;
    text-transform: uppercase;
	font-size: 0.85em;
	letter-spacing: 0.1em;
    font-weight: 700;

	@include button-variant(white, $brand-red, transparent);

	&:hover {
		background: darken($brand-red, 5%);
	}
}

.btn-group.open .dropdown-toggle {
	box-shadow: none;
}

.btn-secondary {
	@include button-variant(white, $brand-blue, transparent);
}

.narrow {
	max-width: 50em;
    @include center-block();
}


th {
	min-width: 20%;
	padding-right: 15px;
}

.page-title + .lead {
	margin-top: -60px;
}


.cv-profile-img {
	margin: 40px auto;
	border-radius: 50%;
	max-width: 200px;
}


// projects

.project-teasers {}

.project-bar {
	padding: 1em 0;
	background: white;
	text-align: center;
	border-bottom: 1px solid $gray-lighter;

	.btn {
		padding: 10px 35px;
	    text-transform: uppercase;
	    font-size: 1.3rem;
	    font-weight: 500;
	}

	.dropdown-menu {
		text-align: left;
		font-size: 0.8em;
	}
}

.project-brow {
	display: block;
	margin-bottom: 0;
	text-align: center;
	text-transform: uppercase;
	@extend .heavy;

	@media (min-width: $screen-md-min) {
		font-size: 1.5em;
	}
}

.project-details {
	margin: 2em 0 0;
	@extend .list-unstyled;
}

.project-detail {
	margin-bottom: 1.5em;
	font-size: 0.9em;
	text-transform: uppercase;
	color: white;
	@extend .heavy;

	@media (min-width: $screen-md-min) {
		font-size: 1.2em;
	}

	span {
		display: block;
		color: $brand-light-gray;
		font-size: 0.8em;
	}

	&.project-technology {
		font-size: 0.85em;
	}
}



.project-image {

	figure {}
	figcaption {
		font-size: 1.1em;
		font-weight: 700;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
		text-transform: uppercase;
		color: white;
		letter-spacing: 0.1em;
	}
}

// .project-image img,
.project-image {
	@extend .img-rounded;
	margin-bottom: $grid-gutter-width;
}

.project-image-text {
	@include center-block();
	margin-bottom: 3em;

	@media (min-width: $screen-md-min) {
		width: 90%;
	}
}

.project-image-caption {

}

.project-preview {
	@include make-row();
	margin-top: 2em;
}


// latest projects - front page

.latest-projects {
	@include make-row();

	.project {
		margin-bottom: $grid-gutter-width;
		max-width: 350px;
		@include center-block();
		@include make-sm-column(6);
		@include make-md-column(3, $grid-gutter-width);
		text-align: center;
		@include fadeIn;
	}

	.project-heading {
		margin: 2em 0 0;
		min-height: 50px;
		font-size: 0.9em;
		font-weight: 700;
		line-height: 1.2;
		text-transform: uppercase;
	}
}

// browser top for project images
.browser {
	margin-bottom: 1.5em;

	img {
		@include border-bottom-radius(4px);
	}
}

	.browser-top {
		display: block;
		@include border-top-radius(4px);
	}

	.browser-bg {
		fill: rgb(215, 215, 215);
	}

	.browser-url,
	.browser-buttons {
		fill: white;
	}


// mobile device to display screenshots inside
.device {
	position: relative;
	max-width: 400px;
	@include center-block();
	margin-bottom: 1.5em;
}
.device__bg {
}

// show mobile device on svg devices
.device__screen {
	position: absolute;
	z-index: 2;
	top: 8.6663669%;
	left: 0;
	right: 0;
	width: 91.575092%;
	height: 79%;
	margin: 0 auto;
	background: rgba(white, 0.1);
}


.showcases {
	@include make-row();

	@media (max-width: $screen-xs-max) {
		margin-left: 0;
		margin-right: 0;
	}
}


#showcases[data-columns]::before {
	@media (min-width: $screen-sm-min){
		content: '2 .col-sm-6';
	}
}

.showcase {
	margin-bottom: 30px;
	padding: 30px;
	background: white;

	time {
		display: block;
		font-size: 0.9em;
	}
}

.showcase-heading {
	margin: 1em 0 1.5em;
	font-size: 1.2em;
	color: $gray;
	font-weight: 700;
	text-align: center;
}

.showcase h4 {
	font-size: 1em;
	font-weight: 700;
	margin: 20px 0 5px;
	color: $gray;
}

.showcase-recommendation {
	margin-top: 40px;
	padding-top: 30px;
}

.showcase blockquote {
	position: relative;
	margin: 0 -30px -30px;
	padding: 30px 30px 50px;
	font-size: 1.1em;
	border: 0;
	background: $brand-red;
	color: $white-accent;

	&::before {
		color: rgba(255, 255, 255, 0.5);
	}

	footer {
		margin-top: 25px;
		color: $white-accent;
	}
}

.showcase-images {
	@include make-row(6px);
	@extend .list-unstyled;
	margin-top: 15px;
	margin-bottom: 15px;

	li {
		float: left;
		width: 70px;
		padding: 3px;
		margin-bottom: 15px;
	}

	img {
		box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
	}
}


table th,
table td {
	vertical-align: top;
}

footer[role="contentinfo"] {
	margin-top: 25px;
	padding: 25px 0 40px;
}

.animating {
	&.fadein { @include fadeIn; }
	&.fadein-left { @include fadeInLeft; }
	&.fadein-left-big { @include fadeInLeftBig; }
	&.fadein-right { @include fadeInRight; }
	&.fadein-up { @include fadeInUp; }
	&.fadein-up-big { @include fadeInUpBig; }
	&.fadein-down { @include fadeInDown; }

	&[data-delay="100"] { @include delay(0.1s); }
	&[data-delay="200"] { @include delay(0.2s); }
	&[data-delay="300"] { @include delay(0.3s); }
	&[data-delay="400"] { @include delay(0.4s); }
	&[data-delay="500"] { @include delay(0.5s); }
	&[data-delay="600"] { @include delay(0.6s); }
	&[data-delay="700"] { @include delay(0.7s); }
	&[data-delay="800"] { @include delay(0.8s); }
	&[data-delay="900"] { @include delay(0.9s); }
	&[data-delay="1000"] { @include delay(1s); }
}
