

//.......................................

html, body { height: 100%; }

body {
	margin: 0;
	// -webkit-font-smoothing: antialiased;
    // -moz-font-smoothing: antialiased;
    // -o-font-smoothing: antialiased;
    // font-smoothing: antialiased;
}

::selection {
	background: $brand-blue;
	color: #fff;
	opacity: 1;
}

.container {
	
	@include media-breakpoint-down(lg) {
		max-width: none;
	}

	// @include media-breakpoint-up(xl) {
	// 	max-width: 1680px;
	// }
}


.form-control {
	box-shadow: none;
}

.form-actions {
	margin-top: 2em;
	text-align: right;
}

.contact-form {
	max-width: 30em;
	margin: 0 auto 5em;
}

.logo {
	display: inline-block;
	height: 100px;
	width: 300px;
    z-index: $content;
	margin: 50px 0;
	background: url(../img/logo.svg) 50% 50% no-repeat;

	@include media-breakpoint-up(sm) {

		html:not(.page-home) & {
			height: 100px;
			width: 300px;
			margin: 70px;
		}
	}
}

// stage section
.stage {
	padding: 50px 0;

	.stage-img {
		display: block;
		margin: 0 auto 50px; // 100px;
	}

	.stage-lead {
		font-size: 30px;
		font-size: 3rem;
		letter-spacing: 0.03em;
		text-align: center;
	}


	@include media-breakpoint-up(sm) {
		padding: 170px 0 100px;

		.stage-img {
			margin-bottom: 100px;
		}
	}
}


.content-wrapper {
	min-height: 100vh;
	// z-index: 500;
    background: white;
    transition: all 0.4s;
    transform: translate3d(0, 0, 0);
}

header[role="banner"] {
	position: fixed;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
	z-index: 10;
}

.branding {
	text-align: center;

	.page-home & {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: $above-content;
	}
}


.teasers {

	.teaser-header {
		font-size: 25px;
		font-size: 2.5rem;
		margin-bottom: 15px;
		text-transform: uppercase;
		color: #768371;
		line-height: 1.5em;
	}

	.teaser-text {
		font-size: 16px;
		font-size: 1.6rem;
		line-height: 1.5em;

		@include media-breakpoint-up(sm) {
			padding-right: 30px;
			font-size: 18px;
			font-size: 1.8rem;
		}

		@include media-breakpoint-down(xs) {
			& + .teaser {
				margin-top: 50px;
			}
		}
	}
}

img {
	@extend .img-fluid;
}


.animate {
	opacity: 0;
	will-change: opacity, transform;
}

blockquote {
	position: relative;
	border: 0;
	font-size: 1.25rem;

	footer {
		display: flex;
		margin-top: 2rem;
		flex-direction: row;
		justify-content: left;
		align-items: center;
		text-align: left;
	}

	.quote-image {
		max-width: 5em;
		margin-right: 2rem;
		border-radius: 50%;
	}
}


.timeline-when,
.timeline-what {
	margin-bottom: 10px;
}

.timeline-when {
	font-weight: 400;

	@include media-breakpoint-up(sm) {
		text-align: right;
	}
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
	font-family: $headings-font-family;
    cursor: pointer;
    border: 1px solid transparent;
	border-radius: 0;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.6;
	user-select: none;
	text-decoration: none;
}

.cta {
    padding: 3em 0;
}

.btn-cta {
	display: inline flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
    padding: 1rem 2.5rem;
    text-transform: lowercase;
    font-weight: 600;
	border: 4px solid $primary !important;
	background: transparent;
	color: $primary;
	border-width: 3px;
	transition: all 0.3s;
	
	.icon {
		transition: transform 0.25s ease-in-out;
	}

	&:hover {
		background: $primary;
		color: white;

		.icon {
			transform: translateX(5px);
		}
	}
}

// sliding text on hover

.btn-fancy {
	position: relative;
	overflow: hidden;

	span, &::before {
    	transition: all 0.3s;
    	backface-visibility: hidden;
	}

	span {
		display: inline-block;
		width: 100%;
		height: 100%;
		color: $brand-pink;
	}

	&::before {
		content: attr(data-hover-text);
		position: absolute;
		left: 0;
    	top: -100%;
		height: 100%;
		width: 100%;
		padding: 0.5rem 0;
		line-height: 3em;	
		color: #fff;
	}

	&:hover::before {
		top: 0;
	}

	&:hover span {
		transform: translateY(300%);
	}
}


.btn-submit {
    padding: 0 2em;
	line-height: 3.5em;
    text-transform: uppercase;
    font-weight: 800;
	border: 3px solid $brand-green;
	background: transparent;
	color: $brand-green;
	border-width: 3px;
	font-size: 1em;
	transition: all 0.3s;

	&:hover {
		background: $brand-green;
		color: white;
		border-color: transparent;
	}
}

.btn-primary {

}

.btn-secondary {
	@include button-variant(white, $brand-blue, transparent);
	padding: 10px 25px;
	font-size: 0.9em;
	text-transform: uppercase;
}

th {
	min-width: 20%;
	padding-right: 15px;
}

.page-title + .lead {
	margin-top: -60px;
}


.cv-profile-img {
	margin: 40px auto;
	border-radius: 50%;
	max-width: 200px;
}


// projects

.project-teasers {}

.project-bar {
	padding: 1em 0;
	background: white;
	text-align: center;
	border-bottom: 1px solid $gray-200;

	.btn {
		padding: 10px 35px;
	    text-transform: uppercase;
	    font-size: 1.3rem;
	    font-weight: 500;
	}

	.dropdown-menu {
		text-align: left;
		font-size: 0.8em;
	}
}

.project-header  {
}

.project-brow {
	display: block;
	margin-bottom: 0;
	text-transform: uppercase;
	font-weight: 600;
	color: $text-muted;
	font-size: 0.9325rem;
}

.project-intro .section-content {
	padding-top: 0;
}

.project-details {
	margin: 2em 0 0;
	@extend .list-unstyled;
}

.project-detail {
	margin-bottom: 1.5em;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 600;

	span {
		display: block;
		color: $text-muted;
		font-size: 0.8em;
	}

	&.project-demo,
	&.project-technology {

		ul {
			@extend .list-unstyled;
		}
	}
}



.project-image {

	figure {}
	figcaption {}
}

// .project-image img,
.project-image {
	border-radius: $border-radius;
	margin-bottom: $grid-gutter-width;
}

.project-image-text {
	margin: 0 0 3em;
}

.project-image-caption {

}

.project-preview {
	margin-top: 5em;
}


// latest projects - front page

.latest-projects {
	display: flex;
	flex-wrap: wrap;

	a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	    opacity: 0;
		z-index: 100;
	    text-indent: 200%;
	    white-space: nowrap;
	    font-size: 0;
	}

	.project {
		@include make-col-ready();
		position: relative;
		padding-left: 1rem;
		padding-right: 1rem;
		margin-bottom: 2rem;
	}

	.project, img, .project-heading {
		transition: 0.2s ease-in-out;
	}

	picture {
		display: block;
	}

	img,
	.img-placeholder {
		background: rgba(black, 0.05);
	}

	.project-heading {
		margin-bottom: 0 0 0.3em;
		font-size: 1.125em;
		font-weight: 600;
	}

	p {
		font-size: 1rem;
		color: $text-muted;
	}

	figcaption {
		padding: 1.5em 0 2em;
		min-height: 5em;
	}

	.project:hover {

		.project-heading {
			color: $link-color;
		}
	}
}

.contact-links {
	@extend .list-unstyled;
	display: flex;

	a {
		display: block;
		height: 2rem;
		width: 2rem;
		color: $body-color;
		transition: color 0.2s ease;

		&:hover {
			color: $link-color;
		}
	}

	li + li > a {
		margin-left: 1.5rem;
	}
}

////////////////////////////////////////

// browser top for project images

////////////////////////////////////////

.browser {
	max-width: 1400px;
	margin: 3rem auto;
	border-radius: 7px;
	box-shadow: 0 1rem 20px rgba(0,0,0,.1);
	
	.browser-top {
		display: block;
		@include border-top-radius(3px);
	}

	img {
		border-radius: 6px;
		@include media-breakpoint-up(sm) {
			@include border-top-radius(0);
		}
	}
}


.tilt-left-sm,
.tilt-right-sm,
.tilt-left-md,
.tilf-right-md {
	transition: transform 0.3s ease-in-out;
}


.tilt-left-sm {
	@include media-breakpoint-up(sm) {
		transform: rotate(-8deg);
	}
}
.tilt-right-sm {
	@include media-breakpoint-up(sm) {
		transform: rotate(8deg);
	}
}

.tilt-left-md {
	@include media-breakpoint-up(md) {
		transform: rotate(-8deg);
	}
}
.tilt-right-md {
	@include media-breakpoint-up(md) {
		transform: rotate(8deg);
	}
}


// mobile device to display screenshots inside
.device {
	position: relative;
	max-width: 20rem;
	margin: 0 auto 1.5em;
	border-radius: 40px;
	background-color: rgb(34,34,34);
	box-shadow: inset 0 -5px 10px rgba(170,180,200,.2), 0 2px 6px rgba(0,20,60,.15), 0 5px 30px rgba(0,20,60,.01);

	@include media-breakpoint-up(sm) {
		border-radius: 40px;
		max-width: 400px;
	}
}

.device--white {
	background-color: #fff;
}

.device__bg {}

// show mobile device on svg devices
.device__screen {
	position: absolute;
	z-index: 2;
	top: 8.6663669%;
	left: 0;
	right: 0;
	width: 91.575092%;
	height: 79%;
	margin: 0 auto;
	// background: rgba(white, 0.1);

	img {
		border-radius: 10px;
		border: 2px solid rgba(150,150,150,.1);
		box-shadow: inset 1px 1px 10px rgba(255,255,255, 0.15);
	}
}


.showcases {
	@include make-row();

	@include media-breakpoint-down(xs) {
		margin-left: 0;
		margin-right: 0;
	}
}


#showcases[data-columns]::before {
	@include media-breakpoint-up(sm) {
		content: '3 .col-sm-4';
	}
}

.showcase {
	overflow: hidden;
	margin-bottom: 30px;
	padding: 30px;
	background: white;
	border-radius: 12px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	font-size: 1rem;

	&-heading {
		margin: 0 0 1rem;
		font-size: 1.25em;
		font-weight: 700;
	}

	time {
		display: block;
		font-size: 1rem;
	}
}

.showcase h4 {
	font-size: 0.9em;
	font-weight: 900;
	margin: 20px 0 5px;
	color: $gray-500;
}

.showcase-recommendation {
	margin-top: 40px;
	padding-top: 30px;
}

.showcase blockquote {
	position: relative;
	margin: 0 -30px -30px;
	padding: 30px 30px 50px;
	font-size: 1.1em;
	background: $brand-green;
	color: white;

	&::before {
		color: rgba(white, 0.4);
	}

	footer {
		margin-top: 25px;
		color: rgba(white, 0.6);
	}
}

.showcase-images {
	display: flex;
	@extend .list-unstyled;
	flex-wrap: wrap;
	margin-top: 1.5em;
	margin-bottom: 1.5em;

	li {
		width: 100px;
		padding: 6px;
		margin-bottom: 15px;
	}

	img {
		box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
	}
}


table th,
table td {
	vertical-align: top;
}

footer[role="contentinfo"] {
	margin-top: 25px;
	padding: 25px 0 40px;
}


////////////////////////////////////////

// Page and images transitions

////////////////////////////////////////

// page animations
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fade-in;
}


@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.fade-out {
  animation-name: fade-out;
}

.skills:first-of-type {
	margin-top: 5em;
}

.skill {
    margin-bottom: 50px;
	
	@include make-col-ready();

	@include media-breakpoint-up(sm) {
		@include make-col(4);
	}	
}

.quote {
	margin: 4rem 0;
	padding: 2.5rem 3rem;
	background: #F4EFFF;
	color: #461FB5;
	font-size: 1.5rem;
	font-weight: 200;
}