// bourban dependent
@import '../components/bourbon/app/assets/stylesheets/bourbon';


.sidebar {
	overflow-y: auto;
	position: fixed;
	z-index: $above-content;
	opacity: 0;
	visibility: hidden;
	left: 0;
	top: 0;
	right: 0;
	height: 100%;
	padding: 50px 60px 60px;
	@include linear-gradient(to right, #55A999, $brand-primary);
	color: #fff;
	filter: none;
	@include transform(translate3D(0,0,0));
	@include transition(all .25s, transform .4s);

	.safari & {
		min-height: 100vh;
	}
}

.menu-shown {

	body {
		overflow: hidden;
	}

	.sidebar {
		opacity: 1;
		visibility: visible;
	}
}

// .menu-shown .content-wrapper,
// .menu-shown .nav-trigger {
// 	@include transform(translateX(-360px));
// }

// .menu-shown .sidebar {
// 	@include transform(translateX(0));
// 	webkit-overflow-scrolling: touch;
// }

.sidebar-container {
	opacity: 0;
	@include transform(translateX(50px));
	@include transition(0.4s 0s);
}

.menu-shown .sidebar-container {
	opacity: 1;
	@include transform(none);
	@include transition(0.4s 0.15s);
}

.sidebar:after,
.sidebar:before {
	content: "";
	position: fixed;
	left: 0;
	top: 30px;
	bottom: 0;
	height: 100vh;
	width: 100px;
	background-color: white;
	@include box-shadow(0 0 16px rgba(17, 37, 60, 0.5));
	@include transform(translateX(-100%));
	@include transition(0.4s);
}

.sidebar:before {
	bottom: 0;
	top: 70px;
}

.menu-shown .sidebar:after,
.menu-shown .sidebar:before {
	@include transition(0.7s);
}

.menu-shown .sidebar:before {
	@include transform(translateX(-98px) rotate(4deg));
}

.menu-shown .sidebar:after {
	@include transform(translateX(-96px) rotate(2deg));
}

.sidebar .logo img.sidebar-logo,
.sidebar .logo span {
	width: 220px !important;
	text-align: center;
}

.sidebar .logo {
	display: block;
	font-size: 0;
	padding: 0;
	text-align: left;
	@include transition(.15s);
}

.sidebar .logo:hover {
	opacity: 0.5;
}

.sidebar .logo span {
	color: #fff;
}


.sidebar ul.secondary-links {
	margin-top: 35px;
}

.sidebar ul li a {
	color: #fff;
	@include transition(.15s);
}

.sidebar ul li a:hover {
	opacity: 0.5;
}
.sidebar .active a,
.sidebar ul li a:active,
.sidebar ul li a:focus {
	color: rgba(0, 0, 0, 0.4);
	opacity: 1;
	text-shadow: 0 1px 0 rgba(255,255,255,0.08);
}



.site-nav {
	margin-top: 70px;

	ul {
		list-style: none;
		margin: 0 0 0 5%;
		padding: 0;
	}

	li {
		padding: 3px 0;
		text-transform: uppercase;
	}

	.primary-links {

		li {
			font-size: 2em;
			font-weight: 900;
			font-family: $headings-font-family;

			@media (min-width: $screen-sm-min) {
				font-size: 3em;
			}
		}
	}

	.secondary-links li {
		font-size: 1.2em;
		padding: 8px 0;

		a {
			color: rgba(255,255,255,0.8);
		}
	}
}



.nav-trigger {
	position: fixed;
	top: 20px;
	right: 20px;
	height: 42px;
	width: 42px;
	padding: 10px;
	z-index: 999;
	background-color: $gray-dark;
	line-height: 1;
	border-radius: 50%;
	cursor: pointer;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	@include transition(all 0.15s);

	// close and burger icons
	svg * {
		pointer-events: none;
		width: 26px;
		height: 26px;
		stroke: white;
		stroke-width: 3px;
		stroke-linecap: round;
		@include transition(.4s);
	}

	&:hover {
		@include transform(scale(1.1));
	}

	.close {
		opacity: 0
	}

	&.nav-trigger--invert {
		border-color: transparent;
		background-color: white;

		svg * {
			stroke: $gray-dark;
		}
	}
}

.menu-shown .nav-trigger {
	border-color: transparent;
	background-color: rgba(white,0.9);

	.close { opacity: 1 }
	.menu { opacity: 0 }

	svg * {
		stroke: $brand-blue;
	}
}



// @media screen and (max-width: 455px) {
// 	.menu-shown .nav-trigger {
// 		@include transform(translateX(0));
// 	}
// }

@media screen and (max-width: 414px) {
	.sidebar {
		padding: 50px 17% 17%;
		width: 100%;
	}

	.sidebar .logo img.sidebar-logo,
	.sidebar .logo span {
		width: 100% !important;
	}

	.menu-shown .content-wrapper {
		@include transform(translateX(-2%));
	}
}

/////////////////////////////////////

// back/forward buttons

/////////////////////////////////////

.page-nav {
	margin: 0 0 1.5em;
	text-align: center;

	@media (min-width: $screen-md-min) {
		text-align: left;
	}

	a {
		position: relative;
		display: inline-block;
		padding: 0.6em 1.5em;
		color: white;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 0.8em;
		background: #ccc;
		@include transition(background 0.2s);

		&:hover {
			background: $brand-primary;
		}

		// arrow
		&::before {
			position: relative;
		    top: 0;
		    content: "";
		    display: inline-block;
		    /* By using an em scale, the arrows will size with the font */
		    width: 0.8em;
		    height: 0.8em;
		    border-left: 0.15em solid black;
		    border-top: 0.15em solid black;
		    transform: rotate(-45deg);
		    margin-right: 0.5em;
			border-color: white;
			@include backface-visibility(hidden);
			@include transition(transform .2s);
		}

		&:hover {
			color: white;
		}

		&:hover::before {
			@include transform(translateX(-5px) rotate(-45deg));
		}
	}
}
