// global styles

.page-home .site-header {
	@include media-breakpoint-up(md) {
		// background-color: $gray-300;
	}
}

//.........................................

// Desktop sized devices

//.........................................

@include media-breakpoint-up(md) {
	.burger,
	.secondary-links {
		display: none !important;
	}

	.site-header {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: $zindex-fixed;
	}

	.site-nav {
		display: flex;
		height: 5rem;
		justify-content: space-between;
		align-items: center;
		text-transform: uppercase;
	}

	.logo {
		padding: 1.5rem 0;
		color: $body-color;
		font-weight: 400;
		text-decoration: none;

		&:hover {
			color: $body-color;
			text-decoration: none;
		}
	}

	.primary-links {
		display: flex;
		flex-direction: row;
		margin-bottom: 0;
		list-style: none;

		li {
			text-align: right;
		}

		a {
			position: relative;
			padding: 1.5rem;
			font-size: 0.875rem;
			color: $body-color;
			font-weight: 400;
			text-decoration: none;

			// Dot
			&::before {
				content: "";
				opacity: 0;
				position: absolute;
				left: 50%;
				bottom: 0.75rem;
				width: 6px;
				height: 6px;
				border-radius: 100%;
				background: $body-color;
				transition-delay: 2s;
				transition: all $easing-default;
			}

			&:hover::before {
				opacity: 0.3;
				transform: translateY(.75rem);
			}
		}

		li.active a::before {
			opacity: 1;
			transform: translateY(0.75rem); 
		}
	}
}


//.........................................

// Mobile sized devices

//.........................................

@include media-breakpoint-down(sm) {

	.site-header {
		opacity: 0;
		visibility: hidden;
		overflow-y: auto;
		position: fixed;
		z-index: $above-content;
		left: -100vw;
		left: 0;
		top: 0;
		right: 0;
		height: 100vh;
		width: 100vw;
		padding: 50px 60px 60px;
		background: $gray-950;
		color: #fff;
		filter: none;
		will-change: opacity;
		transition: opacity 0.15s ease-in-out 0.25s, left 0s 0.35s, visibility 0s 0.35s;

		.menu-shown & {
			left: 0;
			opacity: 1;
			visibility: visible;
			transition: opacity 0.25s ease-in-out, visibility 0s;
		}
	}


	.header-container {
		
		.primary-links,
		.secondary-links {
			opacity: 0;
			transform: translateY(8vw);
			transition: all 0.25s 0s;
		}

		.menu-shown & .primary-links {
			opacity: 1;
			transform: none;
			transition: all $easing-gentle 0.4s;
		}

		.menu-shown & .secondary-links {
			opacity: 1;
			transform: none;
			transition: all $easing-gentle 0.45s;
		}
	}

	// Paper effect
	.site-header:after,
	.site-header:before {
		content: "";
		position: fixed;
		left: 0;
		top: 30px;
		bottom: 0;
		height: 80vh;
		width: 100px;
		background-color: white;
		box-shadow: 4px 10px 16px rgba(0,0,0,0.25), 2px 2px 4px rgba(0,0,0,0.05);
		transform: translateX(-100%);
		transition: all $easing-default;
	}

	.site-header:before {
		bottom: 0;
		top: 70px;
	}

	.menu-shown .site-header:after,
	.menu-shown .site-header:before {
		transition: 0.8s 0.4s;
	}

	.menu-shown .site-header:before {
		transform: translateX(-100px) rotate(6deg);
	}

	.menu-shown .site-header:after {
		transform: translateX(-110px) rotate(4deg);
	}

	.site-header .logo {
		display: none;
		// position: absolute;
		// bottom: 2rem;
		// left: 2rem;
		// text-align: left;
		// transition: .15s;
		// color: #fff;
		// font-weight: 400;
		// font-size: 1.5rem;
		// letter-spacing: -0.03em;
		// text-decoration: none;
		// color: $text-white-dimmed;
	}

	.site-header .logo:hover {
		opacity: 0.5;
	}

	.site-header .secondary-links {
		margin-top: 4rem;
		text-transform: uppercase;
	}

	.site-header ul li a {
		color: $white;
		transition: .15s;
		text-decoration: none;

		&:hover {
			opacity: 0.75;
			text-decoration: underline;	
		}
	}

	.site-header .active a,
	.site-header ul li a:active,
	.site-header ul li a:focus {
		color: #a8d8a8;
		opacity: 1;
	}

	.site-nav {
		margin-top: 4rem;

		ul {
			list-style: none;
			margin: 0 0 0 5%;
			padding: 0;
		}

		li {
			padding: 0.5rem 0;
		}

		.primary-links {

			li > a {
				font-size: 3rem;
				font-weight: 400;
				line-height: 1;
				letter-spacing: -0.03em;

				&:hover {
					text-decoration: none;
				}
			}
		}

		.secondary-links li > a {
			font-size: 0.875rem;
			padding: 0.25rem 0;
			color: $text-white-dimmed;
		}
	}
}


/////////////////////////////////////

// back/forward buttons

/////////////////////////////////////

.page-nav {
	margin: 0 0 1.5em;
	text-align: center;

	@include media-breakpoint-up(sm) {
		text-align: left;
	}

	a {
		position: relative;
		display: inline-block;
		padding: 0.6em 1.5em;
		color: white;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 0.8em;
		background: #ccc;
		transition: background-color 0.2s;

		&:hover {
			background: $primary;
		}

		// arrow
		&::before {
			position: relative;
		    top: 0;
		    content: "";
		    display: inline-block;
		    /* By using an em scale, the arrows will size with the font */
		    width: 0.8em;
		    height: 0.8em;
		    border-left: 0.15em solid black;
		    border-top: 0.15em solid black;
		    transform: rotate(-45deg);
		    margin-right: 0.5em;
			border-color: white;
			backface-visibility: hidden;
			transition: transform .2s;
		}

		&:hover {
			color: white;
		}

		&:hover::before {
			transform: translateX(-5px) rotate(-45deg);
		}
	}
}


// burger menu

.burger {
	position: fixed;
	z-index: $zindex-fixed;
	outline: none;
	top: 1rem;
	right: 1rem;
	height: 3em;
	width: 3em;
	font-size: 8px;
	cursor: pointer;
	transition: .2s all;
	border-radius: 100px;
	-webkit-tap-highlight-color: transparent;

	.burger-lines:after {
		left: 0;
		top: -0.75em;
	}

	.burger-lines:before {
		left: 1em;
		top: 0.75em;
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		height: 150%;
		width: 150%;
		top: -25%;
		left: -25%;
	}

	.burger-lines {
		top: 50%;
		margin-top: -0.125em;

		&,
		&:after,
		&:before {
			pointer-events: none;
			display: block;
			content: '';
			width: 100%;
			border-radius: 0.25em;
			background-color: $body-color;
			height: 0.25em;
			position: absolute;
			transform: rotate(0);
		}

		&:after {
			left: 0;
			top: -1em;
		}

		&:before {
			left: 1em;
			top: 1em;
		}
	}
}

.burger.burger-squeeze {
	.burger-lines {

		&,
		&:after,
		&:before {
			transition: .2s top .2s, .1s left, .2s transform, .4s background-color .2s;
		}

		&:after,
		&:before {
			width: 2em;
		}
	}

	&.open {
		.burger-lines {

			&,
			&:after,
			&:before {
				background: #fff;
				transition: .2s background-color, .2s top, .2s left, .2s transform .15s;
			}

			& {
				background-color: transparent;
			}

			&:before,
			&:after {
				left: 0.5em;
				top: 0px;
			}

			&:before {
				transform: rotate(-45deg);
			}

			&:after {
				transform: rotate(45deg);
			}
		}
	}
}