// Content sections
.section {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-color: $body-bg;

    .container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        @include media-breakpoint-up(lg) {
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }

    .section-content {
        @extend .container;
        padding: 4rem 1.5rem;
        font-size: 1.25rem;
    
        @include media-breakpoint-up(sm) {
            padding: 6rem 2.5rem;
        }
        
        @include media-breakpoint-up(lg) {
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }
}


.section-full .section-content {
    @include media-breakpoint-up(xl) {
        max-width: 1680px;
    }
}

.section-compact .section-content {
    padding-top: 2em;
    padding-bottom: 2em;
}

.section-heading {
    margin-bottom: 1.5em;
    font-size: 1.5em;
    font-weight: 600;

    &:first-child {
        margin-top: 0;
    }

    @include media-breakpoint-up(sm) {
        font-size: 1.6em;
    }

    &--left {
        text-align: left;
    }

    &-sm {
        margin-bottom: 1.5em;
        font-size: 1em;
        font-weight: 900;
    
        @include media-breakpoint-up(sm) {
            font-size: 1.3em;
        }
    }
}


.section-image {
    display: block;
    max-width: 500px;
    background-repeat: no-repeat;
}

.section-image-center {
    margin-left: auto;
    margin-right: auto;
}

.section-sm > .container {
    @include media-breakpoint-up(md) {
        max-width: 70%;
    }
}


.section-more {
    padding-bottom: 3em;

    // bottom arrow
    &::after {
        position: absolute;
        bottom: 4em;
        left: 50%;
        content: "";
        display: inline-block;
        /* By using an em scale, the arrows will size with the font */
        width: 1.5em;
        height: 1.5em;
        border-left: 0.2em solid black;
        border-top: 0.2em solid black;
        border-color: $brand-light-gray;
        backface-visibility: hidden;
        transition: transform .2s;
        transform: translateX(-50%) rotate(-135deg);
        animation-delay: 2s;
    }
}

.section-bordered {
    border-top: 2px dashed $gray-200;
}

 .section-narrow .section-content {
    max-width: 50em !important;
}

// color combinations

.section-white {
    background: white;
}

.section-light-blue {
    background: $brand-light-blue;
}

.section-blue {
    color: rgba(white, 0.9);
    background-color: $blue;

    .section-heading {
        color: white;
    }
}

.section-dark-blue {
    color: rgba(white, 0.9);
    background-color: $brand-dark-blue;
}

.section-red {
    color: rgba(white, 0.9);
    background-color: $brand-red;

    .section-heading {
        color: white;
    }
}

.section-green {
    background: $brand-green;
    color: white;
}

.section-yellow {
    background-color: $brand-yellow;
    color: white;
}

.section-purple {
    color: rgba(white, 0.9);
    background-color: $brand-purple;
}

.section-gray {
    background-color: #f3f4f5;
    color: $gray-700;
}

.section-dark-gray {
    background: #111;
    color: white;
}

.section-light-gray {
    background-color: #f3f4f5;
}





////////////////////////////////////////////////////


.section-screenshots {
	.row {
		margin: 0;
	}

	.col {
        @include make-col-ready();

        @include media-breakpoint-up(xs) {
          @include make-col(2);
        }
        @include media-breakpoint-up(sm) {
          @include make-col(1);
        }
	}
}

.section-skills {
    .display-heading {
        color: white;
    }
}


.section--servicelovers {
    @include gradient-directional(#1D1129,#323050,-35deg);
}

.bg-sandy {
    background-color: #f6f0e4;
}
