// typography
h1, h2, h3, h4, h5 {
    text-transform: uppercase;
}

h1,.alpha   { }
h2,.beta    { }
h3,.gamma   { }
h4,.delta   { }
h5,.epsilon { }
h6,.zeta    { }


.thin { font-weight: 100; }
.light { font-weight: 300; }
.medium { font-weight: 500; }
.bold { font-weight: 700; }
.heavy { font-weight: 900; }

.lead {
    max-width: 30em;
    margin-bottom: 3em;
    font-weight: 400;
    line-height: 1.6em;

    @media (min-width: $screen-sm-min) {
        font-size: 1.4em;
    }

    &.text-center {
        @include center-block();
    }
}

.text-nowrap {
    white-space: nowrap;
}

.text-white { color: white; }
.text-faded { color: $text-color; }
.text-blue { color: $brand-blue; }
.text-dark-blue { color: $brand-dark-blue; }
.text-light-blue { color: $brand-light-blue; }
.text-red { color: $brand-red; }
.text-yellow { color: $brand-yellow; }
.text-gray { color: #777; }
.text-light-gray { color: #bbb; }
.text-purple { color: $brand-purple; }
.text-green { color: $brand-green; }

.all-caps {
    text-transform: uppercase;
}

.display-heading {
    margin-bottom: 2em;
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;

    @media (min-width: $screen-md-min) {
        font-size: 4vw;
    }
}

.display-heading {
    + .lead,
    + hr {
        margin-top: -3em;
    }
}

.hero-heading {
    max-width: 12em;
    margin: 0 auto;
    font-size: 12vw; // has backup size from headers
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    // color: $brand-primary;

    @media (min-width: $screen-md-min) {
        font-size: 5.5vw;
    }
}


hr {
    margin-bottom: 3em;
    border-width: 3px;
    max-width: 30px;
    border-color: rgba(black, 0.2);

    &:last-child {
        margin-bottom: 0;
    }
}

.separator-thin {
    border-width: 1px;
    max-width: 60px;
}

.separator-lg {
    @media (min-width: $screen-sm-min) {
        border-width: 8px;
    	max-width: 60px;
    }
}

.separator-full {
	max-width: none;
}

.separator-left { margin-left: 0; }
.separator-right { margin-right: 0; }
.separator-white { border-color: white; }
.separator-white-faded { border-color: rgba(white, 0.3); }
.separator-light-blue { border-color: $brand-light-blue; }
.separator-blue { border-color: $brand-blue; }
.separator-dark-blue { border-color: $brand-blue; }
.separator-red { border-color: $brand-red; }
.separator-purple { border-color: $brand-purple; }
.separator-green { border-color: $brand-green; }
.separator-yellow { border-color: $brand-yellow; }
