// typography
h1, h2, h3, h4, h5 {
}

.thin { font-weight: 100; }
.light { font-weight: 300; }
.medium { font-weight: 500; }
.bold { font-weight: 700; }
.heavy { font-weight: 900; }

.lead {
    margin-bottom: 1.5em;
    font-weight: 400;
    line-height: 1.6em;

    @include media-breakpoint-up(sm) {
        font-size: 1.5rem;
    }

    &.text-center {
        margin-left: auto;
        margin-right: auto;
    }
}

.text-nowrap {
    white-space: nowrap;
}

.text-white { color: white; }
.text-white-dimmed { color: rgba(255,255,255, 0.7); }
.text-blue { color: $brand-blue; }
.text-dark-blue { color: $brand-dark-blue; }
.text-light-blue { color: $brand-light-blue; }
.text-red { color: $brand-red; }
.text-yellow { color: $brand-yellow; }
.text-gray { color: #777; }
.text-light-gray { color: #bbb; }
.text-purple { color: $brand-purple; }
.text-green { color: $brand-green; }

.all-caps {
    text-transform: uppercase;
}

.display-heading {
    margin-bottom: 2em;
    font-size: 2.5em;

    @include media-breakpoint-up(md) {
        font-size: 4vw;
    }
}


.hero-heading {
    font-size: 10vw; // has backup size from headers
    font-weight: 300;
    letter-spacing: -0.025em;

    @include media-breakpoint-up(md) {
        font-size: 3rem;
    }
}

.group-heading {
    margin: 1.5em 0 1rem;
    font-size: 1.4em;
    font-weight: 500;
}


hr {
    margin-bottom: 3em;
    border-width: 3px;
    max-width: 30px;
    border-color: rgba(black, 0.2);

    &:last-child {
        margin-bottom: 0;
    }
}

.separator-thin {
    border-width: 1px;
    max-width: 60px;
}

.separator-lg {
    @include media-breakpoint-up(sm) {
        border-width: 8px;
    	max-width: 60px;
    }
}

.separator-full {
	max-width: none;
}

.separator-left { margin-left: 0; }
.separator-right { margin-right: 0; }
.separator-white { border-color: white; }
.separator-white-faded { border-color: rgba(white, 0.3); }
.separator-light-blue { border-color: $brand-light-blue; }
.separator-blue { border-color: $brand-blue; }
.separator-dark-blue { border-color: $brand-blue; }
.separator-red { border-color: $brand-red; }
.separator-purple { border-color: $brand-purple; }
.separator-green { border-color: $brand-green; }
.separator-yellow { border-color: $brand-yellow; }


