
// typography
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 500;
    letter-spacing: -0.03em;
    line-height: 1.15em;
}

$text-white-dimmed: rgba(255,255,255, 0.6);

.font-weight-lighter { font-weight: $font-weight-lighter; }
.light { font-weight: 300; }
.medium { font-weight: 500; }
.bold { font-weight: 700; }
.heavy { font-weight: 900; }

.text-white { color: white; }
.text-white-dimmed { color: $text-white-dimmed; }
.text-blue { color: $brand-blue; }
.text-dark-blue { color: $brand-dark-blue; }
.text-light-blue { color: $brand-light-blue; }
.text-red { color: $brand-red; }
.text-yellow { color: $brand-yellow; }
.text-gray { color: #777; }
.text-light-gray { color: #bbb; }
.text-purple { color: $brand-purple; }
.text-green { color: $brand-green; }


.lead,
.hero-lead {
    max-width: 45rem;
    margin-bottom: 1.5em;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5em;

    @include media-breakpoint-up(md){
        font-size: 1.375rem;
    }

    &.text-center {
        margin-left: auto;
        margin-right: auto;
    }
}

.lead-lg {
    @include media-breakpoint-up(md) {
        font-size: 1.5rem;
    }
}

.text-nowrap {
    white-space: nowrap;
}

.all-caps {
    text-transform: uppercase;
}

.text-normal {
    font-size: 1rem;
}

.text-lg {
    font-size: 1.25em;
}

.text-small {
    font-size: 0.875rem;
}

.display-heading {
    margin-bottom: 4rem;
    font-size: clamp(2rem, 6vw, 5rem);
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
        max-width: 50rem;
    }

    > div {
        position: relative;
        margin: 0;
    }
}

.anim .line {
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

// classes for handling staggering
.split-parent {
    overflow: hidden;
}

.split-child {
    display: inline-block;
}

.hero-heading {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.05em;
    letter-spacing: -0.05em;
    max-width: 10em;
    text-transform: uppercase;
    color: $gray-950;

    @include media-breakpoint-up(md) {
        font-size: clamp(5rem, 8vw, 8rem);
    }

    .highlight {
        color: $gray-100;
    }
}

.section-heading {
    margin-bottom: 1em;
    line-height: 1.15em;
    font-size: clamp(1.75rem, 2.5vw, 3rem);

    &:first-child {
        margin-top: 0;
    }

    &--left {
        text-align: left;
    }
}

.group-heading {
    margin: 3.5rem 0 0.75em;
    font-size: 1.375rem;
    letter-spacing: 0;

    @include media-breakpoint-up(md) {
        font-size: 1.5rem;
    }
}

.heading-md {
    margin: 3rem 0 1rem;
    font-size: 1.25rem;
    letter-spacing: 0;
    text-transform: uppercase;
}

.heading-sm {
    margin: 1.5rem 0 1rem;
    font-size: 1rem;
    letter-spacing: 0;
}

.heading-xs {
    font-size: 0.75rem;
    letter-spacing: 0;
    text-transform: uppercase;
    font-weight: 600;
}

.separator-thin {
    border-width: 1px;
    max-width: 60px;
}

.separator-lg {
    @include media-breakpoint-up(sm) {
        border-width: 8px;
    	max-width: 60px;
    }
}

.separator-full {
	max-width: none;
}

.separator-left { margin-left: 0; }
.separator-right { margin-right: 0; }
.separator-white { border-color: white; }
.separator-white-faded { border-color: rgba(white, 0.3); }
.separator-light-blue { border-color: $brand-light-blue; }
.separator-blue { border-color: $brand-blue; }
.separator-dark-blue { border-color: $brand-blue; }
.separator-red { border-color: $brand-red; }
.separator-purple { border-color: $brand-purple; }
.separator-green { border-color: $brand-green; }
.separator-yellow { border-color: $brand-yellow; }


code {
    display: inline-block;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

abbr,
acronym {
    border-bottom: 1px dotted;
}

 @include media-breakpoint-up(md) {
    .mt-md-0 { margin-top: 0 !important; }
    .mb-md-0 { margin-bottom: 0 !important; }
    .ml-md-0 { margin-left: 0 !important; }
    .mr-md-0 { margin-right: 0 !important; }
    .pt-md-0 { padding-top: 0 !important; }
    .pb-md-0 { padding-bottom: 0 !important; }
    .pl-md-0 { padding-left: 0 !important; }
    .pr-md-0 { padding-right: 0 !important; }
}

 @include media-breakpoint-up(lg) {
    .mt-lg-0 { margin-top: 0 !important; }
    .mr-lg-0 { margin-right: 0 !important; }
    .mb-lg-0 { margin-bottom: 0 !important; }
    .ml-lg-0 { margin-left: 0 !important; }
    .pt-lg-0 { padding-top: 0 !important; }
    .pr-lg-0 { padding-right: 0 !important; }
    .pb-lg-0 { padding-bottom: 0 !important; }
    .pl-lg-0 { padding-left: 0 !important; }
}

 @include media-breakpoint-up(xl) {
    .mt-xl-0 { margin-top: 0 !important; }
    .mr-xl-0 { margin-right: 0 !important; }
    .mb-xl-0 { margin-bottom: 0 !important; }
    .ml-xl-0 { margin-left: 0 !important; }
    .pt-xl-0 { padding-top: 0 !important; }
    .pr-xl-0 { padding-right: 0 !important; }
    .pb-xl-0 { padding-bottom: 0 !important; }
    .pl-xl-0 { padding-left: 0 !important; }
}
