// bootstrap variables
@import '../node_modules/bootstrap/scss/functions';
@import 'override-bootstrap-variables';

// custom variables
:root {

    --fg-default: var(--neutral-900);
    --fg-muted: #{$text-muted};
    --fg-inverse: var(--neutral-50);
    --fg-inverse-muted: var(--neutral-200);
    
    --bg-subtle: var(--neutral-100);

    // Palettes
    --neutral-50: #{$gray-50};
    --neutral-100: #{$gray-100};
    --neutral-200: #{$gray-200};
    --neutral-300: #{$gray-300};
    --neutral-400: #{$gray-400};
    --neutral-500: #{$gray-500};
    --neutral-600: #{$gray-600};
    --neutral-700: #{$gray-700};
    --neutral-800: #{$gray-800};
    --neutral-900: #{$gray-900};
    --neutral-950: #{$gray-950};

    --custom-gutter: 1rem;
}


.fg-default {color: var(--fg-muted)}
.fg-inverse-muted {color: var(--fg-inverse-muted)}

.bg-subtle { background: var(--bg-subtle)}


$brand-red: #F9615B;
$brand-blue: #35ADC3;
$brand-dark-blue: #292437;
$brand-green: #00B3CD;
$brand-light-blue: #A1DDF9;
$brand-yellow: #D6B44A;
$brand-purple: #CA5CA3;
$brand-pink: #E03C71;
$brand-light-gray: #bbb;
$white-accent: rgb(240, 240, 240);


$color-1: $brand-red;
$color-2: $body-bg; 
$color-3: $gray-500;
$color-4: #fb5e58; 


// stack order
$below-content: 1;
$content: 2;
$above-content: 3;


// easing
$easing-default: 0.15s cubic-bezier(0.6, 0, 0.4, 1);
$easing-gentle: 0.6s cubic-bezier(0.22, 1, 0.36, 1);