// bootstrap variables
@import "custom-bootstrap-variables";

// custom variables

$brand-red: #E94D58;
$brand-blue: #3791C5;
$brand-dark-blue: #293B50;
$brand-light-blue: #A1DDF9;
$brand-yellow: #FAE273;
$brand-purple: #765174;
$white-accent: rgb(240, 240, 240);
