@import 'variables',
		'../_bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss',
		'type',
		'utilities',
		'navigation',
		'fancybox',
		'icons'
;




//.......................................

body {
	margin: 0;
	font-weight: 300;
}

a:hover {
	text-decoration: underline;
}

.text-nowrap {
	white-space: nowrap;
}

header[role="banner"] {
	text-align: right;
}

// stage section
.stage {
	padding: 50px 0;

	.stage-img {
		display: block;
		margin: 0 auto 50px; // 100px;
	}

	.stage-lead {
		font-size: 30px;
		font-size: 3rem;
		letter-spacing: 0.03em;
		text-align: center;
	}


	@media screen and (min-width: $screen-sm-min) {
		padding: 170px 0 100px;

		.stage-img {
			margin-bottom: 100px;
		}
	}
}

.section-hero {
	height: 90vh
}


.hero-heading {
	margin-bottom: 0.5em;
	font-size: 2.5em;
	font-weight: 700;

	@media (min-width: $screen-sm-min) {
		font-size: 3.5em;
	}

	@media (min-width: $screen-md-min) {
		font-size: 4.5em;
	}
}

.hero-lead {
	margin: 0 auto;
	text-align: center;
	max-width: 30em;
	font-size: 1.7em;
}

.teasers {

	.teaser-header {
		font-size: 25px;
		font-size: 2.5rem;
		margin-bottom: 15px;
		text-transform: uppercase;
		color: #768371;
		line-height: 1.5em;
	}

	.teaser-text {
		font-size: 16px;
		font-size: 1.6rem;
		line-height: 1.5em;

		@media screen and (min-width: $screen-sm-min) {
			padding-right: 30px;
			font-size: 18px;
			font-size: 1.8rem;
		}

		@media screen and (max-width: $screen-xs-max) {

			& + .teaser {
				margin-top: 50px;
			}
		}
	}
}

img {
	@extend .img-responsive;
}


.section {
	padding: 60px 0;
}

.scene {
	animation-duration: 0.45s;
	transition-timing-function: ease-in;
	animation-fill-mode: both;
}

.scene--fadein {
  animation-name: fadeIn;
}

.main-content.is-exiting .scene {
  animation-direction: alternate-reverse;
}

/*
 * Keyframes
 */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.section-gray {
	background: #f4f4f4;
}

.section-dark {
	background: $brand-primary;
	color: $white-accent;
}

.section-narrow > .container {
	max-width: 45em;
}

.section-screenshots {
	.row {
		margin: 0;
	}

	.col {
		@include make-xs-column(2, 0);
		@include make-sm-column(2, 0);
		@include make-md-column(1, 0);
	}
}

blockquote {
	border: 0;

	&::before {
		content: '“';
		font-family: serif;
		font-size: 5em;
		line-height: 0;
		display: block;
		margin: 40px 0 20px;
	}
}

.page-cv .container {
	//max-width: 45em;
}

.timeline-when,
.timeline-what {
	margin-bottom: 10px;
}

.timeline-when {
	font-weight: 400;

	@media (min-width: $screen-sm-min) {
		text-align: right;
	}
}




// typography

.thin { font-weight: 100; }
.light { font-weight: 300; }
.medium { font-weight: 500; }
.bold { font-weight: 700; }
.heavy { font-weight: 900; }

.lead {
    max-width: 30em;
    font-size: 1.4em;
    font-weight: 100;

    &.text-center {
        @include center-block();
    }
}

.text-faded { color: rgba(white, .7); }
.text-blue { color: $brand-blue; }
.text-dark-blue { color: $brand-dark-blue; }
.text-light-blue { color: $brand-light-blue; }
.text-red { color: $brand-red; }


hr {
    margin-bottom: 5em;
    border-width: 3px;
    max-width: 30px;
    border-color: rgba(black, 0.2);
}
.separator-left { margin-left: 0; }
.separator-right { margin-right: 0; }
.separator-white { border-color: white; }
.separator-white-faded { border-color: rgba(white, 0.3); }
.separator-blue-light { border-color: $brand-light-blue; }
.separator-blue { border-color: $brand-blue; }
.separator-dark-blue { border-color: $brand-blue; }
.separator-red { border-color: $brand-red; }



.cta {
    padding: 8em 0 0;
}

.btn-cta {
    padding: 10px 60px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
}



.page-title + .lead {
	margin-top: -60px;
}

th {
	min-width: 20%;
	padding-right: 15px;
}

.section-heading {
	margin: 50px 0 1em;
	font-size: 1.8em;
	letter-spacing: .2em;
	text-transform: uppercase;
}

.section-heading-lg {

}

.cv-profile-img {
	margin: 40px auto;
	border-radius: 50%;
	max-width: 200px;
}

.project-teaser {
	@include make-row();
	margin-top: 2em;
}



.showcases {
	@include make-row();

	@media (max-width: $screen-xs-max) {
		margin-left: 0;
		margin-right: 0;
	}
}


#showcases[data-columns]::before {
	@media (min-width: $screen-sm-min){
		//content: '2 .col-sm-6';
	}
}

.showcase {
	margin-bottom: 30px;
	padding: 30px;
}

.showcase-heading {
	margin: 0 0 1em;
	font-size: 1.3em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.showcase h4 {
	margin: 20px 0 5px;
}

.showcase-recommendation {
	margin-top: 40px;
	padding-top: 30px;
}

.showcase blockquote {
	position: relative;
	margin: 0 -30px -30px;
	padding: 30px 30px 50px;
	font-size: 1.1em;
	border: 0;
	background: $brand-primary;
	color: $white-accent;

	&::before {
		color: rgba(255, 255, 255, 0.5);
	}

	footer {
		margin-top: 25px;
		color: $white-accent;
	}
}

.showcase-images {
	@include make-row(15px);
	@extend .list-unstyled;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 20px 0;

	li {
		@include make-xs-column(4);
		@include make-sm-column(3, 15px);
		margin-bottom: 15px;
	}

	img {
		padding: 5px;
		background: rgba(0,0,0,0.08);
	}
}


table th,
table td {
	vertical-align: top;
}

footer[role="contentinfo"] {
	margin-top: 25px;
	padding: 25px 0 40px;
}
