@import '../_bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss';

.stage {
	padding: 110px 0;
	text-transform: uppercase;
	background: #94ecd2;

	.stage-header {
		font-size: 130px;
		font-size: 13rem;
		color: #dffff6;
	}
}