

// overwriting bootstrap variables
$brand-primary: #fb6964;
$white-accent: rgb(240, 240, 240);
$font-size-base: 16px;
$line-height-base: 1.6;
$headings-font-weight: 700;
$text-color: #777;
$link-color: $brand-primary;
$font-family-sans-serif: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$headings-font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// import Bootstrap files
@import '../_bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss';
@import 'type';
@import 'utilities';
@import 'fancybox';




//.......................................

body {
	margin: 0;
	font-weight: 400;
}

a:hover {
	text-decoration: underline;
}

.text-nowrap {
	white-space: nowrap;
}


// stage section
.stage {
	padding: 50px 0;

	.stage-img {
		display: block;
		margin: 0 auto 50px; // 100px;
	}

	.stage-lead {
		font-size: 30px;
		font-size: 3rem;
		letter-spacing: 0.03em;
		text-align: center;
	}


	@media screen and (min-width: $screen-sm-min) {
		padding: 170px 0 100px;

		.stage-img {
			margin-bottom: 100px;
		}
	}
}

.teasers {

	.teaser-header {
		font-size: 25px;
		font-size: 2.5rem;
		margin-bottom: 15px;
		text-transform: uppercase;
		color: #768371;
		line-height: 1.5em;
	}

	.teaser-text {
		font-size: 16px;
		font-size: 1.6rem;
		line-height: 1.5em;

		@media screen and (min-width: $screen-sm-min) {
			padding-right: 30px;
			font-size: 18px;
			font-size: 1.8rem;
		}

		@media screen and (max-width: $screen-xs-max) {

			& + .teaser {
				margin-top: 50px;
			}
		}
	}
}

img {
	@extend .img-responsive;
}


.content-section {
	padding: 60px 0;
}

.section-gray {
	background: #f4f4f4;
}

.section-dark {
	background: $brand-primary;
	color: $white-accent;
	
	.section-heading,
	.showcase-heading {

	}
}

.section-narrow > .container {
	max-width: 45em;
}

blockquote {
	border: 0;

	&::before {
		content: '“';
		font-family: serif;
		font-size: 5em;
		line-height: 0;
		display: block;
		margin: 40px 0 20px;
	}
}

.page-cv .container {
	//max-width: 45em;
}

.timeline-when,
.timeline-what {
	margin-bottom: 10px;
}

.timeline-when {
	font-weight: 600;
	
	@media (min-width: $screen-sm-min) {
		text-align: right;
	}
}

.lead {
	font-size: 22px;
}

h1 {
	margin: 1.5em 0 1em;
	font-weight: 700;
}

.page-title + .lead {
	margin-top: -60px;
}

h2 {
	font-size: 32px;
}

h3 {
	margin-top: 5px;
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

th {
	min-width: 20%;
	padding-right: 15px;
}

.section-heading {
	margin: 50px 0 35px;
	font-size: 25px;
}

.section-heading-lg {
	margin: 40px 0 50px;
	font-size: 25px;
	text-transform: uppercase;
}

.cv-profile-img {
	margin: 40px auto;
	max-width: 200px;
}

.showcases {
	@include make-row();

	@media (max-width: $screen-xs-max) {
		margin-left: 0;
		margin-right: 0;
	}
}


#showcases[data-columns]::before {
	@media (min-width: $screen-sm-min){
		content: '2 .col-sm-6';
	}	
}

.showcase {
	margin-bottom: 30px;
	padding: 30px;
	background: white;
}

.showcase-heading {
	margin: 0 0 1em;
	font-size: 22px;
	// &::after {
	// 	content: "";
	// 	display: block;
	// 	width: 15px;
	// 	height: 3px;
	// 	margin: 10px 0 15px;
	// 	background: darken($brand-primary, 10);
	// }
}

.showcase h4 {
	margin: 20px 0 5px;
	font-weight: 600;
}

.showcase-recommendation {
	margin-top: 40px;
	padding-top: 30px;
}

.showcase blockquote {
	position: relative;
	margin: 0 -30px -30px;
	padding: 30px 30px 50px;
	font-size: 1.2em;
	border: 0;
	background: $brand-primary;
	color: $white-accent;

	&::before {
		color: rgba(255, 255, 255, 0.5);
	}

	footer {
		margin-top: 25px;
		color: $white-accent;
	}
}

.showcase-images {
	@include make-row(15px);
	@extend .list-unstyled;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 20px 0;

	li {
		@include make-xs-column(4);
		@include make-sm-column(3, 15px);
		margin-bottom: 15px;
	}

	img {
		padding: 5px;
		background: rgba(0,0,0,0.08);
	}
}


table th,
table td {
	vertical-align: top;
}



footer[role="contentinfo"] {
	margin-top: 25px;
	padding: 25px 0 40px;
}
