<!DOCTYPE html>
<html class="no-js {% if page.bodyclass != "" %}{{ page.bodyclass }}{% endif %}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/main.css">

        <script src="https://use.typekit.net/duu6pyk.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
    </head>
    <body>
        <div class="page animsition">
            <div class="nav-trigger">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 30 26 26"><g class="menu"><path d="M-.5 51.5h23M-.5 35.5h23M-.5 43.5h23"></path></g><g class="close"><path d="M2.9 35.3l16.2 16.3M2.9 51.6l16.3-16.3"></path></g></svg>
            </div>

            <aside class="sidebar">
                {% include site-nav.html %}
            </aside>

            <div class="content-wrapper">
                <header class="branding">
                    <a href="{{ site.baseurl }}/" class="logo animate fadein">Aakjaer</a>
                </header>

                <main id="main" class="main-content" role="main">
                    {{ content }}
                </main>
            </div>
        </div>

        <script src="{{ site.baseurl }}/components/jquery/dist/jquery.min.js"></script>
        <script src="{{ site.baseurl }}/js/modernizr.min.js"></script>
        <script src="{{ site.baseurl }}/js/animsition.min.js"></script>
        <script src="{{ site.baseurl }}/js/jquery.waypoints.min.js"></script>
        <script src="{{ site.baseurl }}/js/site-nav.js"></script>
        <script src="{{ site.baseurl }}/js/salvattore.min.js"></script>
        <script src="{{ site.baseurl }}/components/fancyBox/source/jquery.fancybox.js"></script>
        <script src="{{ site.baseurl }}/js/main.js"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-70896509-1', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>
