---
layout: default
bodyclass: page-projects page-view-project
---

<div class="section section-intro section-more">
    <div class="section-content">
        <p class="project-brow text-light-gray">Project</p>
        <h1 class="hero-heading text-center">{{ page.title }}</h1>

        <hr class="separator-redz separator-lg" />

        <ul class="project-details text-center">
            <li class="project-detail">
                <span>Client</span>
                {{ page.client }}
            </li>
            <li class="project-detail project-technology">
                <span>Technology used</span>

                <ul>
                    {% for item in page.technology %}<li>{{ item }}</li>{% endfor %}
                </ul>  
            </li>
        </ul>
    </div>
</div>

{{ content }}

<!-- <nav class="page-nav">
    <a href="{{ site.baseurl }}/projects/">All projects</a>
</nav>
 -->

{% include contact.html message="Are you looking for something similar? <br/> Write me a couple of lines and hopefully I can help you." %}
