---
layout: default
---

<div class="section section-narrow">
    <div class="section-content pb-0">
        <header class="project-header">
            <a class="back-link" href="{{ site.baseurl }}/archive/">
                <svg width="20" height="20">
                    <use xlink:href="{{ site.baseurl }}/img/icon/sprite.svg#icon-arrow-left" />
                </svg>
                
                Archive</a>
            <p class="project-brow">Client work</p>
            <h1 class="hero-heading">{{ page.title }}</h1>

            <div class="project-details">
                {% if page.client != null %}
                <div class="project-detail">
                    <span>Client</span>
                    {{ page.client }}
                </div>
                {% endif %}
                <div class="d-none project-detail project-technology">
                    <span>Tools & technology</span>
    
                    <ul class="d-flex">
                        {% for item in page.technology %}<li>{{ item }}</li>{% endfor %}
                    </ul>
                </div>
                {% if page.demo_url != null %}
                <div class="project-detail project-demo">
                    <span>Website</span>
                    <a href="{{ page.demo_url }}" target="_blank">{{ page.demo_url_text }}</a>
                </div>
                {% endif %}
            </div>        
        </header>
    </div>
</div>

{{ content }}

{% include contact.html message="You need help designing or building something similar?" %}
